<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">	
<th:block th:replace="~{common/layout::setContent(~{this::content})}">
<th:block th:fragment="content">
	
	<div>
	<h4>상품 상세 정보</h4>
	<table class="table" style="width:100%; padding:0px; margin:0px;">
		<colgroup>
			<col style="width: 20%"/>
			<col style="width: 80%"/>
		</colgroup>
		<tr style="vertical-align:middle">
			<td>
				상품 코드
			</td>
			<td>
				CM2B0KOP301W
			</td>
		</tr >
		<tr style="vertical-align:middle">
			<td>
				상품 명
			</td>
			<td>
				브이넥 니트 드레스
			</td>
		</tr>
		<tr style="vertical-align:middle" >
			<td>
				상품 상세 문구
			</td>
			<td>
				라인이 드러나지 않는 실루엣으로 체형을 커버하기 좋아 손길이 가는 니트 드레스입니다. 브이넥 디자인으로 편안함과 스타일을 겸비하였으며, 2개의 포켓을 블록하여 실용성을 더해주었습니다.
			</td>
		</tr>
		<tr style="vertical-align:middle">
			<td>
				상품 가격
			</td>
			<td>
				545,000
			</td>
		</tr>
		<tr>
			<td>
				카테고리
			</td>
			<td style="padding:0px">
				여성 > 상의 > 드레스
			</td>
		</tr>
		<tr style="vertical-align:middle">
			<td>
				브랜드
			</td>
			<td>
				the CASHMERE
			</td>
		</tr>
		<tr>
			<td style="vertical-align:middle">
				진열 여부
			</td>
			<td>
				진열 중
			</td>
		</tr>
	</table>
	</div> 
	
	
	<div class="mt-5">
	<h4>상품 상세 정보</h4>
	<table class="table" style="width:100%; padding:0px; margin:0px;">
		<colgroup>
			<col style="width: 20%"/>
			<col style="width: 80%"/>
		</colgroup>
		<tr style="vertical-align:middle" class="table-active">
			<td>
				칼라 코드
			</td>
			<td>
				BK
			</td>
		</tr >
		<tr style="vertical-align:middle">
			<td>
				상품 상세 이미지 URL1
			</td>
			<td>
				http://newmedia.thehandsome.com/CM/2B/SS/CM2B0KOP301W_BK_W01.jpg/dims/resize/684x1032/
			</td>
		</tr>
		<tr style="vertical-align:middle" >
			<td>
				상품 상세 이미지 URL2
			</td>
			<td>
				http://newmedia.thehandsome.com/CM/2B/SS/CM2B0KOP301W_BK_W02.jpg/dims/resize/684x1032/
			</td>
		</tr>
		<tr style="vertical-align:middle">
			<td>
				상품 상세 이미지 URL3
			</td>
			<td>
				http://newmedia.thehandsome.com/CM/2B/SS/CM2B0KOP301W_BK_W03.jpg/dims/resize/684x1032/
			</td>
		</tr>
		<tr>
			<td>
				칼라칩 코드 이미지 URL
			</td>
			<td>
				http://newmedia.thehandsome.com/CM/2B/SS/CM2B0KOP301W_OW_C01.jpg
			</td>
		</tr>
		<tr>
			<td>
				함께 코디한 상품 코드
			</td>
			<td>
				CM2B0WPC541W_CR
			</td>
		</tr>
	</table>
	
	<table class="table" style="width:100%; padding:0px; margin:0px;">
		<colgroup>
			<col style="width: 20%"/>
			<col style="width: 80%"/>
		</colgroup>
		<tr style="vertical-align:middle" class="table-active">
			<td>
				칼라 코드
			</td>
			<td>
				BK
			</td>
		</tr >
		<tr style="vertical-align:middle">
			<td>
				상품 상세 이미지 URL1
			</td>
			<td>
				http://newmedia.thehandsome.com/CM/2B/SS/CM2B0KOP301W_BK_W01.jpg/dims/resize/684x1032/
			</td>
		</tr>
		<tr style="vertical-align:middle" >
			<td>
				상품 상세 이미지 URL2
			</td>
			<td>
				http://newmedia.thehandsome.com/CM/2B/SS/CM2B0KOP301W_BK_W02.jpg/dims/resize/684x1032/
			</td>
		</tr>
		<tr style="vertical-align:middle">
			<td>
				상품 상세 이미지 URL3
			</td>
			<td>
				http://newmedia.thehandsome.com/CM/2B/SS/CM2B0KOP301W_BK_W03.jpg/dims/resize/684x1032/
			</td>
		</tr>
		<tr>
			<td>
				칼라칩 코드 이미지 URL
			</td>
			<td>
				http://newmedia.thehandsome.com/CM/2B/SS/CM2B0KOP301W_OW_C01.jpg
			</td>
		</tr>
		<tr>
			<td>
				함께 코디한 상품 코드
			</td>
			<td>
				CM2B0WPC541W_CR
			</td>
		</tr>
	</table>
	</div> 
	
	
	<div class="mt-5">
	<h4>상품 사이즈 정보</h4>
	<table class="table" style="width:100%; padding:0px; margin:0px;">
		<colgroup>
			<col style="width: 20%"/>
			<col style="width: 20%"/>
			<col style="width: 60%"/>
		</colgroup>
		<thead>
			<tr>
				<td>색상</td>
				<td>사이즈</td>
				<td>재고량</td>
			</tr>
		</thead>
		<tr style="vertical-align:middle">
			<td rowspan="3">BK</td>
			<td>L</td>
			<td>10</td>
		</tr>
		<tr style="vertical-align:middle">
			<td>M</td>
			<td>15</td>
		</tr>
		<tr style="vertical-align:middle">
			<td>S</td>
			<td>8</td>
		</tr>
		<tr style="vertical-align:middle">
			<td rowspan="3">OW</td>
			<td>L</td>
			<td>10</td>
		</tr>
		<tr style="vertical-align:middle">
			<td>M</td>
			<td>15</td>
		</tr>
		<tr style="vertical-align:middle">
			<td>S</td>
			<td>8</td>
		</tr>
	</table>
	</div> 
	
	<div style="width:100%; text-align:right;">
		<input type="button" class="btn btn-secondary" value="취소"/>
		<input type="button" class="btn btn-info" value="상품 등록"/>
	</div>
	
	
</th:block>
</th:block>
</html>