<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <script type="text/javascript">

	</script>
	<style>
		.modal-content td{
			font-size:12px;
		}
		
		.modal-content th{
			font-size:14px;
		}
		
	</style>
	<div class="d-flex justify-content-center m-4">
		<div class="p-2" style="width:900px">
		    <div>
		      <h4><b>상품 정보</b></h4>
		    <div class="h-100 d-flex justify-content-center mb-4">
				<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" style="width:300px">
				  <ol class="carousel-indicators">
				    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
				    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
				    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
				  </ol>
				  <div class="carousel-inner">
					<th:block th:each="img,status :${product.productDetailList[0].imgList}">
				  		<div th:if="${status.index}==0" class="carousel-item active">
				  			<img class="d-block w-100" th:src="${img.img}">
				  		</div>
				  		<div th:if="${status.index}!=0" class="carousel-item">
				  			<img class="d-block w-100" th:src="${img.img}">
				  		</div>
				  	</th:block>
				  </div>
				  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
				    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
				    <span class="sr-only">Previous</span>
				  </a>
				  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
				    <span class="carousel-control-next-icon" aria-hidden="true"></span>
				    <span class="sr-only">Next</span>
				  </a>
				</div>
			</div>
		      <table class="table table-bordered p-0 m-0" style="width: 100%;">
		        <colgroup>
		          <col style="width: 30%" />
		          <col style="width: 70%" />
		        </colgroup>
		        <tr class="align-middle">
		          <th class="text-center">상품 번호</th>
		          <td>[[${product.productId}]]</td>
		        </tr>
		        <tr class="align-middle">
		          <th class="text-center">상품 명</th>
		          <td>[[${product.name}]]</td>
		        </tr>
		        <tr class="align-middler">
		          <th class="text-center">상품 상세 문구</th>
		          <td>[[${product.content}]]
		          </td>
		        </tr>
		        <tr class="align-middle ">
		          <th class="text-center">상품 가격</th>
		          <td>[[${product.price}]]</td>
		        </tr>
		        <tr class="align-middle">
		          <th class="text-center">카테고리</th>
		          <td>
		          	<th:block th:each="category,status :${product.categoryList}">
		          		[[${category}]]<i th:if="${status.index}!=2" class="bi bi-caret-right-fill"/>
		          	</th:block>
		          </td>
		        </tr>
		        <tr class="align-middle">
		          <th class="text-center">브랜드</th>
		          <td>[[${product.brandName}]]</td>
		        </tr>
		        <tr class="align-middle">
		          <th class="text-center">진열 여부</th>
		          <td>진열 중</td>
		        </tr>
		      </table>
		    </div>
		
		    <br/>
		    <div>
		      <h4><b>상품 상세 정보</b></h4>
		      <table th:each="productDetail :${product.productDetailList}" class="table table-bordered p-0 mb-4" style="width: 100%;">
		        <colgroup>
		          <col style="width: 30%" />
		          <col style="width: 70%" />
		        </colgroup>
		        <tr class="align-middle">
		          <th>칼라 코드</th>
		          <td>
		          	[[${productDetail.colorCode}]]
		          </td>
		        </tr>
		        <tr class="align-middle">
		          <th>상품 상세 이미지 URL1</th>
		          <td>
		            [[${productDetail.imgList[0].img}]]
		          </td>
		        </tr>
		        <tr class="align-middle">
		          <th>상품 상세 이미지 URL2</th>
		          <td>
		          	[[${productDetail.imgList[1].img}]]
		          </td>
		        </tr>
		        <tr class="align-middle">
		          <th>상품 상세 이미지 URL3</th>
		          <td>
		            [[${productDetail.imgList[2].img}]]
		          </td>
		        </tr>
		        <tr class="align-middle">
		          <th>칼라칩 코드 이미지 URL</th>
		          <td>
		            [[${productDetail.colorChip}]]
		          </td>
		        </tr>
		        <tr class="align-middle">
		          <th>함께 코디한 상품 코드</th>
		          <td>[[${productDetail.withProduct}]]</td>
		        </tr>
		      </table>
		    </div>
		
		    <br/>
		    <div>
		      <h4><b>상품 사이즈 정보</b></h4>
		      <table class="table table-bordered p-0 m-0" style="width: 100%;">
		        <colgroup>
		          <col style="width: 20%" />
		          <col style="width: 20%" />
		          <col style="width: 60%" />
		        </colgroup>
		        <thead>
		          <tr>
		            <th>색상</th>
		            <th>사이즈</th>
		            <th>재고량</th>
		          </tr>
		        </thead>
		        <th:block th:each="productDetail,status1 :${product.productDetailList}">
				    <tr class="align-middle" th:each="stock,status2 :${productDetail.stockList}">
			          <td th:if="${status2.index}==0"  th:rowspan="${status2.size}">[[${productDetail.colorCode}]]</td>
			          <td>[[${stock.psize}]]</td>
			          <td>[[${stock.amount}]]</td>
			        </tr>	        
		        </th:block>
		      </table>
		    </div>
		
		    <br/>
		    <div class="text-right" style="width: 100%;">
		      <a class="btn btn-secondary" onclick="modalHide()">닫기</a>
		      <a class="btn btn-info" th:href="@{/product/update}">상품 수정</a>
		    </div>
	    </div>
    </div>
</html>