<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"> 
	  <style>
		.hiddentxt {
		  z-index:99;
		}
		.hiddenimg {
		  display: none;
		}
		
		.hiddentxt:hover ~ .hiddenimg {
		  display: block;
		  position: sticky;
		  left:400px;
		  top:100px;
		  z-index: 2;
		}
	  </style>
	  <script th:inline="javascript">
      	$(function(){
      		globalPageNo = [[${pager.pageNo}]];
	      }); 
	  </script>
	  <div id="productTable">
		<table class="table table-sm table-bordered">
	      <thead class="align-middle text-center">
	        <tr>
	          <th scope="col"><input type="checkbox"></th>
	          <th scope="col">카테고리</th>
	          <th scope="col">상품코드</th>
	          <th scope="col">상품명</th>
	          <th scope="col">진열 상태</th>
	          <th scope="col">판매가</th>
	          <th scope="col">상품 등록일</th>
	          <th scope="col">조회수 대비 구매율</th>
	        </tr>
	      </thead>
	      <tbody class="align-middle text-center">
	        <tr th:each="product : ${productList}">
	          <td><input type="checkbox" name="statusCheck" th:value="${product.productId}"></td>
	          <td>
	          	<th:block th:each="category,status :${product.categoryList}">
	          		[[${category}]]<i th:if="${status.index}!=2" class="bi bi-caret-right-fill"/>
	          	</th:block>
	          </td>
	          <td>
	          	<a class="text-warning hiddentxt" th:onclick="fnModuleInfo([[${product.productId}]])" >[[${product.productId}]]</a>
				<div class="hiddenimg">
					<div class="card" style="width: 20rem;">
					  <img class="card-img-top" th:src="${product.thumbnail}" alt="Card image cap">
					  <div class="card-body">
					    <h4 class="card-title">[[${product.brandName}]]</h5>
					    <h5 class="card-title">[[${product.name}]]</h5>
					    <p class="card-text"></p>
					    
					  </div>
					</div>
				</div>
	          </td>
	          <td>[[${product.name}]]</td>
	          <td>
	          	<th:block th:if="${product.status==1}"><span class="status text-success">&bull;</span>진열중</th:block>
	          	<th:block th:if="${product.status==0}"><span class="status text-danger">&bull;</span>진열안됨</th:block>	
	          </td>
	          <td th:text="${#numbers.formatInteger(product.price, 0, 'COMMA')}"></td>
	          <td>[[${product.regDate}]]</td>
	          <td class="align-middle">
				<div class="progress">
				  <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" th:style="'width:'+${((0.0 + product.purchaseAmount) / product.hitCount) * 100}+'%'"></div>
				</div>
	          </td>
	        </tr>
	      </tbody>
	    </table>
      
      <!-- Pagination -->
      <nav  th:if="${pager.totalRows} > 0">
        <ul class="pagination d-flex justify-content-center">
          <li class="page-item">
            <a class="page-link" onclick="goSearch(1)" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">First</span>
            </a>
          </li>
          
          <li class="page-item" th:if="${pager.groupNo>1}">
            <a class="page-link"  th:onclick="goSearch([[${pager.startPageNo-1}]])"  aria-label="Previous">
              <span aria-hidden="true">이전</span>
              <span class="sr-only">이전</span>
            </a>
          </li>
          
          <th:block th:each="i : ${#numbers.sequence(pager.startPageNo, pager.endPageNo)}">
            <li class="page-item"><a class="page-link" th:onclick="goSearch([[${i}]])">[[${i}]]</a></li>
          </th:block>
          
          <li class="page-item" th:if="${pager.groupNo<pager.totalGroupNo}" >
            <a class="page-link" th:onclick="goSearch([[${pager.endPageNo+1}]])" aria-label="Previous">
              <span aria-hidden="true">다음</span>
              <span class="sr-only">다음</span>
            </a>
          </li>
          
          <li class="page-item">
            <a class="page-link" th:onclick="goSearch([[${pager.totalPageNo}]])" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Last</span>
            </a>
          </li>
        </ul>
      </nav>  
    </div>
	  </div>
</html>