<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{common/layout::setContent(~{this::content})}">
  <th:block th:fragment="content">
    <script th:inline="javascript">
    
		    let mainIndex = 0;
		    let middleIndex = 0;
		    let subIndex = 0;
		    let searchType = 'None';
		    let categoryId = 'None';
		    let status = 0;
		    let sortId = 'category_id';
		    
		    function selectSort(event,id){
		    	inputBox = document.querySelector(id);
				inputText = event.target.innerHTML;
				console.log(inputText);
				inputBox.innerHTML = inputText;
				
				if(inputText=='등록순'){
					sortId =  'reg_date';
				}else if(inputText=='고가순'){
					sortId =  'price desc';
				}else if(inputText=='저가순'){
					sortId =  'price';
				}else if(inputText=='상품코드순'){
					sortId =  'product_id';
				}else if(inputText=='상품이름순'){
					sortId =  'name';
				}else if(inputText=='최신등록순'){
					sortId =  'reg_date desc';
				}
				
				console.log(inputBox);
				
				goSearch(1);
				
				console.log(inputBox);
		    }
		    
		    
			  function selectDropDownInput(event,id){
					inputBox = document.querySelector(id);
					inputText = event.target.innerHTML;
					console.log(inputText);
					inputBox.value = inputText;
					
			  }
			    function fnModuleInfo(productId){
			    	   console.log(productId);
			    	   $('#detailModal .modal-content').load(`./detailModal?productId=${productId}`);
			    	   $('#detailModal').modal();
			    }

			      function selectDropDownBtn(event,id){
				        inputBox = document.querySelector(id);
				        inputText = event.target.innerHTML;
				        inputBox.innerHTML = inputText;
				        if(inputText=='상품명'){
				        	searchType = 'name';
				        }else if(inputText=='상품코드'){
				        	searchType = 'product_id';
				        }else{
				        	searchType = 'brand_name';
				        }
				        
				   }
			      
			      function modalHide(){
			    	  $('#detailModal').modal("hide");
			      }
			      
			      function selectDropDownBtGbn1(event,id,index){
			        inputBox = document.querySelector(id);
			        console.log([[${categoryList}]][index]);
			        mainIndex = index;
			        let categoryList = [[${categoryList}]][mainIndex].categoryList;
			        categoryId = [[${categoryList}]][mainIndex].categoryId;
			        console.log(categoryList);
			        $('#middleGbn').html("");
			        $('#subGbn').html("");
			        for(let i = 0; i < categoryList.length; i++){
			        	var $temp = $(`<a class="dropdown-item" onclick="javascript:selectDropDownBtnGbn2(event,'#stockGbn2',${i})">${categoryList[i].name}</a>`);
			            $('#middleGbn').append($temp);
			        }
			        inputText = event.target.innerHTML;
			        inputBox.innerHTML = inputText;
			      }
			      
			      function selectDropDownBtnGbn2(event,id,index){
			          inputBox = document.querySelector(id);
			          middleIndex = index;
			          categoryId = [[${categoryList}]][mainIndex].categoryList[middleIndex].categoryId;
			          let categoryList = [[${categoryList}]][mainIndex].categoryList[middleIndex].categoryList;
			          console.log(categoryList);
			          $('#subGbn').html("");
			          for(let i = 0; i < categoryList.length; i++){
			        	var $temp = $(`<a class="dropdown-item" onclick="javascript:selectDropDownBtnGbn3(event,'#stockGbn3',${i})">${categoryList[i].name}</a>`);
			          	$('#subGbn').append($temp);
			          }
			          inputText = event.target.innerHTML;
			          inputBox.innerHTML = inputText;
			        }
			      function selectDropDownBtnGbn3(event,id,index){
			          inputBox = document.querySelector(id);
			          subIndex = index;
			          let category = [[${categoryList}]][mainIndex].categoryList[middleIndex].categoryList[subIndex];
			          console.log(category);
			          categoryId = category.categoryId;
			          inputText = event.target.innerHTML;
			          inputBox.innerHTML = inputText;
			        }
			      $(function(){
			    	let categoryList = [[${categoryList}]];
					console.log(categoryList);
					//let categoryList = [[${categoryList}]];
					console.log("-------");
			      }); 
			      
			      
			      function goSearch(pageNo){
			    	  if(!$('#inProgressChk').is(':checked')&&!$('#notInProgressChk').is(':checked')){
			    		  status = 2;
			    	  }else if($('#inProgressChk').is(':checked')&&!$('#notInProgressChk').is(':checked')){
			    		  status = 1;
			    	  }else if(!$('#inProgressChk').is(':checked')&&$('#notInProgressChk').is(':checked')){
			    		  status = 0;
			    	  }else{
			    		  status = 2;
			    	  }
			    	  console.log(pageNo);
			    	  let keyWord = $("#keyWord").val();
			    	  let regStart = $("#regStart").val();
			    	  let regEnd = $("#regEnd").val();
			    	  $.ajax({
			    	        url:"http://localhost:83/fragment/productList",
			    	        type:"GET",
			    	        data:{
			    	        	searchType,
			    	        	keyWord,
			    	        	categoryId,
			    	        	regStart,
			    	        	regEnd,
			    	        	status,
			    	        	pageNo,
			    	        	sortId
			    	        },
			    	        success: function(fragment){
			    	        	console.log(fragment);
			    	        	console.log("success");
			    	        	$("#productTable").replaceWith(fragment);
			    	        },
			    	        error: function(xhr, status, error) {
			    	            alert(error);
			    	        }  
			    	    });
			      }
			      
	</script>
	<style>
    	.status {
    	    font-size: 50px;
    	    margin: 2px 2px 0 0;
    	    display: inline-block;
    	    vertical-align: middle;
    	    line-height: 10px;
    	   	height:20px;
    	}
	</style>
    <div>
      <h4>
        <b>상품 검색</b>
      </h4>
      <table class="table p-0 m-0" style="width: 100%;">
        <colgroup>
          <col style="width: 10%" />
          <col style="width: 45%" />
          <col style="width: 45%" />
        </colgroup>
        <tr>
          <th class="align-middle">검색 분류</th>
          <td colspan="2">
            <div class="input-group mt-1">
              <div class="input-group-prepend">
                <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="productSearchType" data-toggle="dropdown" aria-expanded="false">
                  분류
                </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" onclick="javascript:selectDropDownBtn(event,'#productSearchType')">상품코드</a>
                  <a class="dropdown-item" onclick="javascript:selectDropDownBtn(event,'#productSearchType')">상품명</a>
                  <a class="dropdown-item" onclick="javascript:selectDropDownBtn(event,'#productSearchType')">브랜드명</a>
                </div>
              </div>
              <input type="text" id="keyWord"  class="form-control">
            </div>
          </td>
        </tr>
        <tr>
          <th class="align-middle">카테고리</th>
          <td colspan="2">
            <div class="input-group">
              <div class="input-group-prepend ">
                <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="stockGbn1" data-toggle="dropdown" aria-expanded="false">
                  대분류
                </button>
                <div class="dropdown-menu" >
                  <a th:each="category, status: ${categoryList}" class="dropdown-item" th:onclick="javascript:selectDropDownBtGbn1(event,'#stockGbn1',[[${status.index}]])">[[${category.name}]]</a>
                </div>
              </div>
              <div class="input-group-prepend">
                <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="stockGbn2" data-toggle="dropdown" aria-expanded="false">
                  중분류
                </button>
                <div class="dropdown-menu" id="middleGbn">
                </div>
              </div>
              <div class="input-group-prepend">
                <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="stockGbn3" data-toggle="dropdown" aria-expanded="false">
                  소분류
                </button>
                <div class="dropdown-menu" id="subGbn">
                </div>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <th class="align-middle">상품등록일</th>
          <td class="pl-0 pt-1 pb-1">
            <input type="date" id="regStart" class="form-control" name="date">
          </td>
          <td class="pl-0 pt-1 pb-1">
            <input type="date" id="regEnd" class="form-control" name="date">
          </td>
        </tr>
        <tr>
          <tr>
          <th scope="row" class="align-middle">진행 여부</th>
          <td colspan="2">
            <span>
              <input class="align-middle" type="checkbox" id="inProgressChk" value="inProgress">
              <label class="align-middle mb-0 ">진행 중</label>
            </span>
            <span>
              <input class="align-middle ml-2" type="checkbox" id="notInProgressChk" value="notInProgress"> 
              <label class="align-middle mb-0">진행 안함</label>
            </span>
          </td>
        </tr>
        <tr>
            <td colspan="3">
              <a type="button" class="btn btn-success float-right" onclick="javascript:goSearch(1)">검색</a>
            </td>
          </tr>
      </table>
    </div>
    <div class="d-flex justify-content-between mb-2">
    	<h4>상품 목록</h4>
        <div class="input-group-prepend">
        	<button class="btn btn-outline-secondary dropdown-toggle" type="button" id="sortType" data-toggle="dropdown" aria-expanded="false">
            	정렬
            </button>
            <div class="dropdown-menu">
            	<a class="dropdown-item" onclick="javascript:selectSort(event,'#sortType')">등록순</a>
            	<a class="dropdown-item" onclick="javascript:selectSort(event,'#sortType')">최신등록순</a>
                <a class="dropdown-item" onclick="javascript:selectSort(event,'#sortType')">고가순</a>
                <a class="dropdown-item" onclick="javascript:selectSort(event,'#sortType')">저가순</a>
                <a class="dropdown-item" onclick="javascript:selectSort(event,'#sortType')">상품코드순</a>
                <a class="dropdown-item" onclick="javascript:selectSort(event,'#sortType')">상품이름순</a>
            </div>
        </div>
    </div>
    
	<div id="productTable">
  </div>
  <div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="historyModalLabel" aria-hidden="true">
	  <div class="modal-dialog modal-lg">
	    <div class="modal-content">
	    </div>
	  </div>
	</div>
  </th:block>
</th:block>
</html>