<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{common/layout::setContent(~{this::content})}">
  <th:block th:fragment="content">
  
    <script th:inline="javascript">
		
    
    	let imgTempList = ["","","",""];
    	
		function putFile(file,index1,index2,productId,productDetailId,flag){
		 let albumBucketName = ""; 
		 if(flag==0)
		  	albumBucketName = `kosahyundaiitnebucket/${productId}/${productDetailId}`; // S3의 버킷 이름
		 else if(flag==1)
			albumBucketName = `kosahyundaiitnebucket/${productId}/colorChip`; // S3의 버킷 이름
		 else
			albumBucketName = `kosahyundaiitnebucket/${productId}/thumbnail`;
		
		  const region = 'ap-northeast-2'; // 서울
		  const accessKeyId = 'AKIATKUPNKYFUXJBJBYD'; // IAM에서 생성한 사용자의 accessKeyId
		  const secretAccessKey = '6g+Zy8dEw45lvmkcCtEB1qUz2NWy+VCZlfpmPC06'; // IAM에서 생성한 사용자의 secretAccessKey
		  
		  AWS.config.update({
		    region,
		    accessKeyId,
		    secretAccessKey
		  }); 
		  
		  const upload = new AWS.S3.ManagedUpload({
		    params: {
		      Bucket: albumBucketName,
		      Key: file.name,
		      Body: file,
		      ACL: "public-read"
		    }
		  });
		  
		  const promise = upload.promise();

		  promise.then(
		    function(data) {
		      if(flag==0)
		      	detailList[index1].imgList[index2].img = data.Location;
		      else if(flag==1)
		    	detailList[index1].colorChip = data.Location;
		      else
		    	product.thumbnail = data.Location;
		      return console.log("Successfully uploaded photo.");
		    },
		    function(err) {
		      return console.log("There was an error uploading your photo: ", err.message);
		    }
		  );
		};

      function selectDropDownInput(event,id){
        inputBox = document.querySelector(id);
        inputText = event.target.innerHTML;
        inputBox.value = inputText;
      }
      
      
      
      function selectSizeCode(event,id){
          let inputText = event.target.innerHTML;
          $(id).html(inputText);
      }
      
      let mainIndex = 0;
      let middleIndex = 0;
      let subIndex = 0;
      let brandIndex = 0;
      let productId = "";
      let detailList = [];
      let product = "";
      let dIndex = 0;
      let sIndex = 0;
      let CategoryId = "";
      
      function selectDropDownBtn(event,id,index){
        inputBox = document.querySelector(id);
        mainIndex = index;
        let categoryList = [[${brandList}]][brandIndex].brandCategoryTempList[mainIndex].categoryList;
        console.log(categoryList);
        $('#middleGbn').html("");
        $('#subGbn').html("");
        for(let i = 0; i < categoryList.length; i++){
        	var $temp = $(`<a class="dropdown-item" onclick="javascript:selectDropDownBtnGbn2(event,'#stockGbn2',${i})">${categoryList[i].name}</a>`);
            $('#middleGbn').append($temp);
        }
        inputText = event.target.innerHTML;
        inputBox.innerHTML = inputText;
      }
      
      
      function registProduct(event){
    	  let text = event.target.innerHTML;
    	  if(text=="상품 등록"){
    		  $("#idInput").attr("disabled", true); 
    		  $("#nameInput").attr("disabled", true); 
    		  $("#contentInput").attr("disabled", true); 
    		  $("#priceInput").attr("disabled", true); 
    		  $("#brandGbn").attr("disabled", true); 
    		  $("#stockGbn1").attr("disabled", true); 
    		  $("#stockGbn2").attr("disabled", true); 
    		  $("#stockGbn3").attr("disabled", true); 
    		  $("#productProgressStatusRadio1").attr("disabled", true); 
    		  $("#productProgressStatusRadio2").attr("disabled", true); 
    		  $("#mainImgInput").attr("disabled", true); 
    		  productId = $("#idInput").val();
    		  
    		  const input1 = document.getElementById('mainImgInput').files[0];
    		  console.log(input1);
    		  let status = $('input[name="productProgressStatusRadio"]:checked').val();
    		  product = {
    			productId :  $("#idInput").val(),
    			name : $("#nameInput").val(),
    			content : $("#contentInput").val(),
    			price : $("#priceInput").val(),
    			brandName : $("#brandGbn").html(),
    			categoryId,
    			thumbnailFile:input1,
    			thumbnail:window.URL.createObjectURL(input1),
    			status
    		  }
    		  
    		  event.target.innerHTML = "상품 수정";
    	  }else{
    		  $("#idInput").attr("disabled", false); 
    		  $("#nameInput").attr("disabled", false); 
    		  $("#contentInput").attr("disabled", false); 
    		  $("#priceInput").attr("disabled", false); 
    		  $("#brandGbn").attr("disabled", false); 
    		  $("#stockGbn1").attr("disabled", false); 
    		  $("#stockGbn2").attr("disabled", false); 
    		  $("#stockGbn3").attr("disabled", false); 
    		  $("#productProgressStatusRadio1").attr("disabled", false); 
    		  $("#productProgressStatusRadio2").attr("disabled", false); 
    		  $("#mainImgInput").attr("disabled", false); 
    		  event.target.innerHTML = "상품 등록";
    	  }
      }
      
      function regProductDetail(){
    	  
    	  
    	  
    	  const input1 = document.getElementById('img1Input');
    	  var objectURL1 = window.URL.createObjectURL(input1.files[0]);
    	  //console.log(input1.files[0],objectURL);
    	  //putFile(input1.files[0],0);
    	  
    	  const input2 = document.getElementById('img2Input');
    	  var objectURL2 = window.URL.createObjectURL(input2.files[0]);
    	  //console.log(input2.files[0],objectURL);
    	  //putFile(input2.files[0],1);
    	  
    	  const input3 = document.getElementById('img3Input');
    	  //putFile(input3.files[0],2);
    	  var objectURL3 = window.URL.createObjectURL(input3.files[0]);
    	  //console.log(inpu3.files[0],objectURL);
    	  
    	  const input4 = document.getElementById('colorChipInput');
    	  //putFile(input4.files[0],3);
    	  var objectURL4 = window.URL.createObjectURL(input4.files[0]);
    	  //console.log(input4.files[0],objectURL);
    	  
        	  let detail = {
            		  productId,
            		  "productDetailId":productId+"_"+$("#colorCodeInput").val(),
            		  "colorCode":$("#colorCodeInput").val(),
            		  "imgList":[
            			  {imgFile:input1.files[0],img:objectURL1,orderNum:1,productDetailId:productId+"_"+$("#colorCodeInput").val()},
            			  {imgFile:input2.files[0],img:objectURL2,orderNum:2,productDetailId:productId+"_"+$("#colorCodeInput").val()},
            			  {imgFile:input3.files[0],img:objectURL3,orderNum:3,productDetailId:productId+"_"+$("#colorCodeInput").val()}
            			],
            		  "colorChipFile":input4.files[0],
        	  		  "colorChip": objectURL4,
            		  "withProduct":$("#withProductInput").val(),
            		  "stockList": []
            	  }
            	  detailList.push(detail);
            	  console.log(detailList);
            	  
                  $('#detailDiv').html("");
                  for(let i = 0; i < detailList.length; i++){
                	var $temp = $(`<a class="mr-4" onclick="showDetail(${i})">${productId}_${detailList[i].colorCode}</a>`);
                  	$('#detailDiv').append($temp);
                  }

                  $("#colorCodeInput").val("");
        		  $("#img1Input").val("");
        		  $("#img2Input").val("");
        		  $("#img3Input").val("");
        		  $("#colorChipInput").val("");
        		  $("#withProductInput").val("");  
        		  
        		  $("#img1Img").addClass('d-none');
        		  $("#img2Img").addClass('d-none');
        		  $("#img3Img").addClass('d-none');
        		  $("#colorChipImg").addClass('d-none');
    	  
      }
      
      function imgChange(event,inputId,imgId){
    	  const input = document.getElementById(inputId);
    	  var objectURL = window.URL.createObjectURL(input.files[0]);
    	  
    	  
    	  console.log(objectURL);
    	  
    	  $(imgId).attr("src", objectURL); 
    	  $(imgId).removeClass('d-none');
      }
      
      function regSize(){
    	  let size = {
    		"psize":$('#sizeCodeInput').html(),
    		"amount":$('#amountInput').val(),
    	  }
    	  detailList[dIndex].stockList.push(size);
    	  console.log(detailList[dIndex].stockList);
    	  
    	  
    	  let stockList = detailList[dIndex].stockList;
    	  
          $('#sizeDiv').html("");
          for(let i = 0; i < stockList.length; i++){
        	var $temp = $(`<a class="mr-4" onclick="showSize(${i})">${productId}_${detailList[dIndex].colorCode}_${stockList[i].psize}</a>`);
          	$('#sizeDiv').append($temp);
          }  
	      $('#sizeCodeInput').val("");
	  	  $('#amountInput').val("");
      }
      
      function updateProductDetail(){
    	  $("#colorCodeInput").attr("disabled", false); 
		  $("#img1Input").attr("disabled", false); 
		  $("#img2Input").attr("disabled", false); 
		  $("#img3Input").attr("disabled", false); 
		  $("#colorChipInput").attr("disabled", false); 
		  $("#withProductInput").attr("disabled", false);
		  
		  
		  
		  $("#img1Input").removeClass('d-none');
		  $("#img2Input").removeClass('d-none');
		  $("#img3Input").removeClass('d-none');
		  $("#colorChipInput").removeClass('d-none');
		  
		  $("#detailConfirmBtn").removeClass('d-none');
		  $("#detailCancelBtn").removeClass('d-none');
    	  $("#detailUpdateBtn").addClass('d-none');
    	  $("#detailDelBtn").addClass('d-none');
   
		  
      }
      
      function updateSize(){
    	  $("#sizeCodeInput").attr("disabled", false); 
		  $("#amountInput").attr("disabled", false); 
		  
    	  
		  $("#sizeConfirmBtn").removeClass('d-none');
		  $("#sizeCancelBtn").removeClass('d-none');
    	  $("#sizeUpdateBtn").addClass('d-none');
    	  $("#sizeDelBtn").addClass('d-none');
		  
      }
      
      function showDetail(index){
    	  dIndex = index;
    	  $("#colorCodeInput").val(detailList[index].colorCode);
    	  $("#img1Img").attr("src", detailList[index].imgList[0].img); 
		  $("#img2Img").attr("src", detailList[index].imgList[1].img); 
		  $("#img3Img").attr("src", detailList[index].imgList[2].img); 
		  $("#colorChipImg").attr("src", detailList[index].colorChip.src); 
		  $("#withProductInput").val(detailList[index].withProduct);
		  
		  $("#img1Img").removeClass('d-none');
		  $("#img2Img").removeClass('d-none');
		  $("#img3Img").removeClass('d-none');
		  $("#colorChipImg").removeClass('d-none');
		  
		  $("#img1Input").addClass('d-none');
		  $("#img2Input").addClass('d-none');
		  $("#img3Input").addClass('d-none');
		  $("#colorChipInput").addClass('d-none');
		  
		  $("#colorCodeInput").attr("disabled", true); 
		  $("#img1Input").attr("disabled", true); 
		  $("#img2Input").attr("disabled", true); 
		  $("#img3Input").attr("disabled", true); 
		  $("#colorChipInput").attr("disabled", true); 
		  $("#withProductInput").attr("disabled", true); 
		  
		  
		  $("#detailConfirmBtn").addClass('d-none');
		  $("#detailCancelBtn").addClass('d-none');
		  $("#detailRegBtn").addClass('d-none');
    	  $("#detailUpdateBtn").removeClass('d-none');
    	  $("#detailDelBtn").removeClass('d-none');

    	  let stockList = detailList[index].stockList;
          $('#sizeDiv').html("");
          for(let i = 0; i < stockList.length; i++){
        	var $temp = $(`<a class="mr-4" href="#" onclick="showSize(${i})">${productId}_${detailList[index].colorCode}_${stockList[i].psize}</a>`);
          	$('#sizeDiv').append($temp);
          }  
          
          $("#sizeCodeInput").attr("disabled", true); 
		  $("#amountInput").attr("disabled", true); 
      }
      
      function showSize(index){
    	sIndex = index;
    	$("#sizeCodeInput").val(detailList[dIndex].stockList[index].psize);
    	$("#amountInput").val(detailList[dIndex].stockList[index].amount);
    	
    	
	  	  $("#sizeCodeInput").attr("disabled", true); 
		  $("#amountInput").attr("disabled", true); 
		  
		  $("#sizeConfirmBtn").addClass('d-none');
		  $("#sizeCancelBtn").addClass('d-none');
		  $("#sizeRegBtn").addClass('d-none');
    	  $("#sizeUpdateBtn").removeClass('d-none');
    	  $("#sizeDelBtn").removeClass('d-none');
      }
      

      
      function selectDropDownBtnGbn2(event,id,index){
          inputBox = document.querySelector(id);
          middleIndex = index;
          let categoryList = [[${brandList}]][brandIndex].brandCategoryTempList[mainIndex].categoryList[middleIndex].categoryList;
          console.log(categoryList);
          $('#subGbn').html("");
          for(let i = 0; i < categoryList.length; i++){
        	var $temp = $(`<a class="dropdown-item" onclick="javascript:selectDropDownBtnGbn3(event,'#stockGbn3',${i})">${categoryList[i].name}</a>`);
          	$('#subGbn').append($temp);
          }
          inputText = event.target.innerHTML;
          inputBox.innerHTML = inputText;
        }
      function selectDropDownBtnGbn3(event,id,index){
          inputBox = document.querySelector(id);
          subIndex = index;
          categoryId =  [[${brandList}]][brandIndex].brandCategoryTempList[mainIndex].categoryList[middleIndex].categoryList[subIndex].categoryId;
          console.log(categoryId);
          let category = [[${brandList}]][brandIndex].brandCategoryTempList[mainIndex].categoryList[middleIndex].categoryList[subIndex];
          console.log(category);
          inputText = event.target.innerHTML;
          inputBox.innerHTML = inputText;
        }

      function selectBrand(event,id,index){
    	  console.log(index);
    	  brandIndex = index;
    	  let categoryList = [[${brandList}]][brandIndex].brandCategoryTempList;
          console.log(categoryList);
          $('#mainGbn').html("");
          for(let i = 0; i < categoryList.length; i++){
        	var $temp = $(`<a class="dropdown-item" onclick="javascript:selectDropDownBtn(event,'#stockGbn1',${i})">${categoryList[i].name}</a>`);
          	$('#mainGbn').append($temp);
          }
    	  
          inputBox = document.querySelector(id);
          inputText = [[${brandList}]][brandIndex].brandName;
          inputBox.innerHTML = inputText;
        }
      
      
      function cancelProductDetail(){
    	  showDetail(dIndex);
      }
      
      function cancelSize(){
    	  showSize(sIndex);
      }
      
      
      function confirmProductDetail(){
    	  
    	  const input1 = document.getElementById('img1Input').files[0];
    	  const input2 = document.getElementById('img2Input').files[0];
    	  const input3 = document.getElementById('img3Input').files[0];
    	  const input4 = document.getElementById('colorChipInput').files[0];
    	  
		  if(input1!=undefined){
			  detailList[dIndex].imgList[0].imgFile = input1;
			  detailList[dIndex].imgList[0].img = window.URL.createObjectURL(input1);
			  
		  }
		  if(input2!=undefined){
			  detailList[dIndex].imgList[1].imgFile = input2;
			  detailList[dIndex].imgList[1].img = window.URL.createObjectURL(input2);
		  }
		  if(input3!=undefined){
			  detailList[dIndex].imgList[2].imgFile = input3;
			  detailList[dIndex].imgList[2].img = window.URL.createObjectURL(input3);
		  }
		  
		  if(input4!=undefined){
			  detailList[dIndex].colorChip.File = input4;
			  detailList[dIndex].colorChip.src = window.URL.createObjectURL(input4);
		  }
    	  
		  detailList[dIndex].imgList[0].productDetailId = productId+"_"+$("#colorCodeInput").val();
		  detailList[dIndex].imgList[1].productDetailId = productId+"_"+$("#colorCodeInput").val();
		  detailList[dIndex].imgList[2].productDetailId = productId+"_"+$("#colorCodeInput").val();
    	  
    	  console.log(detailList[dIndex].imgList);
    	  
    	  detailList[dIndex].colorCode = $("#colorCodeInput").val();
    	  detailList[dIndex].withProduct = $("#withProductInput").val();
    	  showDetail(dIndex);
    	  
    	  
          $('#detailDiv').html("");
          for(let i = 0; i < detailList.length; i++){
        	var $temp = $(`<a class="mr-4" onclick="showDetail(${i})">${detailList[dIndex].productDetailId}</a>`);
          	$('#detailDiv').append($temp);
          }
      }
      
      function confirmSize(){
    	  detailList[dIndex].stockList[sIndex].psize = $("#sizeCodeInput").val();
    	  detailList[dIndex].stockList[sIndex].amount = $("#amountInput").val();
    	  showSize(sIndex);
    	  
    	  let stockList = detailList[dIndex].stockList;
    	  
          $('#sizeDiv').html("");
          for(let i = 0; i < stockList.length; i++){
        	var $temp = $(`<a class="mr-4" onclick="showSize(${i})">${detailList[dIndex].productDetailId}_${stockList[i].psize}</a>`);
          	$('#sizeDiv').append($temp);
          }  
      }
      
      
      function deleteProductDetail(){
    	  detailList.splice(dIndex, 1);
    	  
    	  
          $('#detailDiv').html("");
          for(let i = 0; i < detailList.length; i++){
        	var $temp = $(`<a class="mr-4" onclick="showDetail(${i})">${productId}_${detailList[i].colorCode}</a>`);
          	$('#detailDiv').append($temp);
          }

          $("#colorCodeInput").val("");
		  $("#img1Input").val("");
		  $("#img2Input").val("");
		  $("#img3Input").val("");
		  $("#colorChipInput").val("");
		  $("#withProductInput").val("");
		  
		  $("#detailUpdateBtn").addClass('d-none');
		  $("#detailDelBtn").addClass('d-none');
		  $("#detailRegBtn").removeClass('d-none');		
		  
		  
		  $("#colorCodeInput").attr("disabled", false); 
		  $("#img1Input").attr("disabled", false); 
		  $("#img2Input").attr("disabled", false); 
		  $("#img3Input").attr("disabled", false); 
		  $("#colorChipInput").attr("disabled", false); 
		  $("#withProductInput").attr("disabled", false); 
		  
		  
		  $("#img1Img").addClass('d-none');
		  $("#img2Img").addClass('d-none');
		  $("#img3Img").addClass('d-none');
		  $("#colorChipImg").addClass('d-none');
		  
		  $("#img1Input").removeClass('d-none');
		  $("#img2Input").removeClass('d-none');
		  $("#img3Input").removeClass('d-none');
		  $("#colorChipInput").removeClass('d-none');
		  
		  
          $('#sizeDiv').html("");

          
          $('#sizeCodeInput').val("");
	  	  $('#amountInput').val("");
	  	  
	  	  $("#sizeCodeInput").attr("disabled", false); 
		  $("#amountInput").attr("disabled", false); 
		  
		  $("#sizeUpdateBtn").addClass('d-none');
		  $("#sizeDelBtn").addClass('d-none');
		  $("#sizeRegBtn").removeClass('d-none');
		  $("#sizeCancelBtn").addClass('d-none');
		  $("#sizeConfirmBtn").addClass('d-none');
      }
      
      function deleteSize(){
    	  detailList[dIndex].stockList.splice(sIndex, 1);
    	  
    	  
          $('#sizeDiv').html("");

          $('#sizeCodeInput').val("");
	  	  $('#amountInput').val("");
		  
		  $("#sizeUpdateBtn").addClass('d-none');
		  $("#sizeDelBtn").addClass('d-none');
		  $("#sizeRegBtn").removeClass('d-none');		
		  
		  
		  
		  $("#sizeCodeInput").attr("disabled", false); 
		  $("#amountInput").attr("disabled", false); 
      }
      
      
      function sizeAdd(){
    	  $('#sizeCodeInput').val("");
	  	  $('#amountInput').val("");
	  	  
	  	  
	  	  $("#sizeCodeInput").attr("disabled", false); 
		  $("#amountInput").attr("disabled", false); 
		  
		  
    	  $("#sizeConfirmBtn").addClass('d-none');
		  $("#sizeCancelBtn").addClass('d-none');
		  $("#sizeRegBtn").removeClass('d-none');
    	  $("#sizeUpdateBtn").addClass('d-none');
    	  $("#sizeDelBtn").addClass('d-none');
    	  
      }
      
      function productAdd(){
    	  $("#colorCodeInput").val("");
		  $("#img1Input").val("");
		  $("#img2Input").val("");
		  $("#img3Input").val("");
		  $("#colorChipInput").val("");
		  $("#withProductInput").val("");
		  
		  
		  $("#colorCodeInput").attr("disabled", false); 
		  $("#img1Input").attr("disabled", false); 
		  $("#img2Input").attr("disabled", false); 
		  $("#img3Input").attr("disabled", false); 
		  $("#colorChipInput").attr("disabled", false); 
		  $("#withProductInput").attr("disabled", false); 
		  
		  $("#detailConfirmBtn").addClass('d-none');
		  $("#detailCancelBtn").addClass('d-none');
		  $("#detailRegBtn").removeClass('d-none');
    	  $("#detailUpdateBtn").addClass('d-none');
    	  $("#detailDelBtn").addClass('d-none');
    	  
    	  $("#img1Img").addClass('d-none');
		  $("#img2Img").addClass('d-none');
		  $("#img3Img").addClass('d-none');
		  $("#colorChipImg").addClass('d-none');
		  
		  $("#img1Input").removeClass('d-none');
		  $("#img2Input").removeClass('d-none');
		  $("#img3Input").removeClass('d-none');
		  $("#colorChipInput").removeClass('d-none');
      }
      
      function goReg(){
    	  console.log(detailList);
    	  product.productDetailList = detailList;
    	  console.log(product.thumbnailFile);
    	  
    	  
    	  
    	  var formData = new FormData();
    	  
    	  for ( var key in product ) {
    		  console.log(key);
    		  console.log(product[key]);
    		  if(key=="productDetailList"){
    			  for(var key2 in product[key]){
    				  console.log(product[key][key2]);
    				  for(var key3 in product[key][key2]){
    					  if(key3.includes('List')){
    						  console.log(key3);
    						  for(var key4 in product[key][key2][key3]){
    							  for(var key5 in product[key][key2][key3][key4]){
    								  formData.append(`productDetailList[${key2}].${key3}[${key4}].${key5}`, product.productDetailList[key2][key3][key4][key5]);  
    							  }
    						  }
    					  }else{
    						  formData.append(`productDetailList[${key2}].${key3}`, product.productDetailList[key2][key3]);
    					  }
    				  }
    				  
    			  }
    		  }else{
    			  formData.append(key, product[key]);
    		  }
    		  
    		}

    	  console.log(formData);
    	  
		
    	  setTimeout(function() {
	    	  $.ajax({
	  	        url:"http://localhost:8082/product/regist",
	  	      	type:"POST",
	  	      	contentType:false,
	  	      	processData : false,
	  	        data:formData,
	  	        success: function(response){
	  	        	console.log(response);
	  	        	location.href="http://localhost:8082/product/list"
	  	        },
	  	        error: function(xhr, status, error) {
	  	            alert(error);
	  	        }  
	  	    });
    	 },2000);
      }
      
      
      
	    function fnModuleInfo(){
	    	   let productDetailId = $("#withProductInput").val();
	    	   console.log(productDetailId);
	    	   $('#detailModal .modal-content').load(`./withProductModal?productDetailId=${productDetailId}`);
	    	   $('#detailModal').modal();
	    }
      
	    function selectWithProduct(productDetailId){
	    	$("#withProductInput").val(productDetailId);
	    	$('#detailModal').modal("hide");
	    }
	    
	    
      $(function(){
    	  let categoryList = [[${brandList}]][0].brandCategoryTempList;
    	  let sizeList =  [[${sizeList}]];
          console.log(categoryList);
          $('#mainGbn').html("");
          for(let i = 0; i < categoryList.length; i++){
        	var $temp = $(`<a class="dropdown-item" onclick="javascript:selectDropDownBtn(event,'#stockGbn1',${i})">${categoryList[i].name}</a>`);
          	$('#mainGbn').append($temp);
          }
          
          $('#sizeGbn').html("");
          for(let i = 0; i < sizeList.length; i++){
          	var $temp = $(`<a class="dropdown-item" onclick="javascript:selectSizeCode(event,'#sizeCodeInput')">${sizeList[i]}</a>`);
            	$('#sizeGbn').append($temp);
           }
		//let categoryList = [[${categoryList}]];
		console.log("-------");
      }); 
    </script>
    <div>
      <h4><b>상품 등록</b></h4>
      <table class="table p-0 m-0" style="width: 100%;">
        <colgroup>
          <col style="width: 20%" />
          <col style="width: 80%" />
        </colgroup>
        <tr>
          <th class="align-middle">상품 코드</th>
          <td>
            <input type="text" id="idInput" class="form-control" value="JWJWTEST1234">
          </td>
        </tr>
        <tr>
          <th class="align-middle">상품 명</th>
          <td><input type="text" id="nameInput" class="form-control" value="등록테스트 상품"></td>
        </tr>
        <tr>
          <th class="align-middle">상품 상세 문구</th>
          <td><input type="text" id="contentInput" class="form-control" value="등록테스트 상품 상세 문구입니다."></td>
        </tr>
        <tr>
          <th class="align-middle">상품 가격</th>
          <td><input type="text" id="priceInput" class="form-control" value="1234000" ></td>
        </tr>
        <tr>
          <th class="align-middle">브랜드</th>
          <td>
	          <div class="input-group-prepend ">
	          	<button class="btn btn-outline-secondary dropdown-toggle" type="button" id="brandGbn" data-toggle="dropdown" aria-expanded="false">
	            	[[${brandList[0].brandName}]]
	            </button>
	            <div class="dropdown-menu" >
	            	<a th:each="brand, status: ${brandList}" class="dropdown-item" th:onclick="javascript:selectBrand(event,'#brandGbn',[[${status.index}]])">[[${brand.brandName}]]</a>
	            </div>
	          </div>
          </td>
        </tr>
        <tr>
          <th class="align-middle">카테고리</th>
          <td class="pt-2 pb-2">
            <div class="input-group mt-1">
              <div class="input-group-prepend ">
                <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="stockGbn1" data-toggle="dropdown" aria-expanded="false">
                  대분류
                </button>
                <div class="dropdown-menu" id="mainGbn">
                
                </div>
              </div>
              <div class="input-group-prepend">
                <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="stockGbn2" data-toggle="dropdown" aria-expanded="false">
                  중분류
                </button>
                <div class="dropdown-menu" id="middleGbn">
                </div>
              </div>
              <div class="input-group-prepend">
                <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="stockGbn3" data-toggle="dropdown" aria-expanded="false">
                  소분류
                </button>
                <div class="dropdown-menu" id="subGbn">
                </div>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <th class="align-middle">상품 대표 이미지</th>
          <td><div><img id="mainImg" width="100px" src="" class="d-none mb-2"/></div><div><input  type="file"  onchange="imgChange(event,'mainImgInput','#mainImg')" id="mainImgInput"></div></td>
        </tr>
        <tr>
          <th scope="row" class="align-middle">진행 여부</th>
          <td colspan="2">
            <span>
              <input class="align-middle" type="radio" id="productProgressStatusRadio1" name="productProgressStatusRadio" value="1">
              <label class="align-middle mb-0">진열</label>
            </span>
            <span>
              <input class="align-middle ml-2" type="radio" id="productProgressStatusRadio2" name="productProgressStatusRadio" value="0"> 
              <label class="align-middle mb-0">진열 안함</label>
            </span>
          </td>
        </tr>
        <tr>
          <td colspan="3">
            <a class="btn btn-primary float-right" onclick="registProduct(event)">상품 등록</a>
          </td>
        </tr>
      </table>
    </div>

    <div>
      <div class="d-flex justify-content-between mt-4">
      		<h4><b>상품 상세 정보</b></h4>
            <button class="btn btn-success btn-sm" onclick="productAdd()">+</button>
	  </div>
      <div class="my-2" id="detailDiv">
      </div>
      
      <table class="table p-0 m-0" style="width: 100%;">
        <colgroup>
          <col style="width: 30%" />
          <col style="width: 70%" />
        </colgroup>
        <tr>
          <th class="align-middle">칼라 코드</th>
          <td><input type="text" id="colorCodeInput" class="form-control" disabled></td>
        </tr>
        <tr>
          <th class="align-middle">상품 상세 이미지1</th>
          <td><div><input type="file"  onchange="imgChange(event,'img1Input','#img1Img')" id="img1Input" disabled></div><div><img id="img1Img" width="100px" src="" class="d-none mb-2"/></div></td>
        </tr>
        <tr>
          <th class="align-middle">상품 상세 이미지2</th>
          <td><div><input type="file"  onchange="imgChange(event,'img2Input','#img2Img')" id="img2Input" disabled></div><div><img id="img2Img" width="100px" src="" class="d-none mb-2"/></div></td>
        </tr>
        <tr>
          <th class="align-middle">상품 상세 이미지3</th>
          <td><div><input  type="file" onchange="imgChange(event,'img3Input','#img3Img')" id="img3Input" disabled></div><div><img id="img3Img" width="100px" src="" class="d-none mb-2"/></div></td>
        </tr>
        <tr>
          <th class="align-middle">칼라칩 이미지</th>
          <td><div><input type="file" onchange="imgChange(event,'colorChipInput','#colorChipImg')" id="colorChipInput" disabled></div><div><img id="colorChipImg" width="50px" src="" class="d-none mb-2"/></div></td>
        </tr>
        <tr>
          <th class="align-middle">함께 코디한 상품 코드</th>
          <td>
			<div class="input-group">
			  <input type="search" class="form-control rounded mr-2" placeholder="Search" aria-label="Search"
			  aria-describedby="search-addon" id="withProductInput" disabled/>
			  <button type="button" class="btn btn-outline-primary" onclick="fnModuleInfo()">search</button>
			</div>
          </td>
        </tr>
        <tr>
          <td colspan="3">
            <a class="btn btn-primary float-right" id="detailRegBtn" onclick="regProductDetail()">상품 상세 등록</a>
            <a class="btn btn-danger float-right d-none" id="detailDelBtn" onclick="deleteProductDetail()">삭제</a>
            <a class="btn btn-success float-right d-none mr-2" id="detailUpdateBtn" onclick="updateProductDetail()">수정</a>
            <a class="btn btn-danger float-right d-none" id="detailCancelBtn" onclick="cancelProductDetail()">취소</a>
            <a class="btn btn-success float-right d-none mr-2" id="detailConfirmBtn" onclick="confirmProductDetail()">확인</a>
          </td>
        </tr>
      </table>
    </div>

    <div>
      <div class="d-flex justify-content-between mt-4">
      		<h4><b>상품 사이즈  정보</b></h4>
            <button class="btn btn-success btn-sm" onclick="sizeAdd()">+</button>
	  </div>
      
      <div class="my-2" id="sizeDiv">
      </div>
      
      <table class="table p-0 m-0" style="width: 100%;">
        <colgroup>
          <col style="width: 25%" />
          <col style="width: 75%" />
        </colgroup>
        <tr>
          <th class="align-middle">사이즈 코드</th>
          <td>
            <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="sizeCodeInput" data-toggle="dropdown" aria-expanded="false">
               분류
            </button>
            <div class="dropdown-menu" id="sizeGbn">
                
          	</div>
          </td>
        </tr>
        <tr>
          <th class="align-middle">재고량</th>
          <td><input type="text" id="amountInput"  class="form-control" disabled></td>
        </tr>
        <tr>
          <td colspan="3">
            <a class="btn btn-primary float-right" id="sizeRegBtn" onclick="regSize()">상품 상세 사이즈 등록</a>
			<a class="btn btn-danger float-right d-none" id="sizeDelBtn" onclick="deleteSize()">삭제</a>
            <a class="btn btn-success float-right d-none mr-2" id="sizeUpdateBtn" onclick="updateSize()">수정</a>
            <a class="btn btn-danger float-right d-none" id="sizeCancelBtn" onclick="cancelSize()">취소</a>
            <a class="btn btn-success float-right d-none mr-2" id="sizeConfirmBtn" onclick="confirmSize()">확인</a>
          </td>
        </tr>
      </table>
    </div>
    
    <hr />
    <div class="text-right">
      <a class="btn btn-success" onclick="goReg()">상품 최종 등록</a>
    </div>
  	<div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="historyModalLabel" aria-hidden="true">
	  <div class="modal-dialog modal-lg">
	    <div class="modal-content">
	    </div>
	  </div>
	</div>
</th:block>
</html>