<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"> 
<div id="stockTable">
	    <table class="table table-sm table-bordered">
	      <thead class="align-middle text-center">
	        <tr>
	          <th scope="col">브랜드</th>
	          <th scope="col">상품코드</th>
	          <th scope="col">상품명</th>
	          <th scope="col">상세상품코드</th>
	          <th scope="col">사이즈</th>
	          <th scope="col">재고</th>
	          <th scope="col">판매량</th>
	        </tr>
	      </thead>
	      <tbody class="align-middle text-center">
	        <tr th:each="stock : ${stockList}">
	          <td>[[${stock.brandName}]]</td>
	          <td>[[${stock.productId}]]</td>
	          <td>[[${stock.name}]]</td>
	          <td><a class="text-warning" th:onclick="fnModuleInfo([[${stock.productId}]])">[[${stock.productDetailId}]]</a></td>
	          <td>[[${stock.psize}]]</td>
	          <td>
	            <button class="btn btn-outline-dark btn-sm mr-1" style="height: 25px; width: 25px; padding: 1px;">-</button>
	            [[${stock.amount}]]
	            <button class="btn btn-outline-dark btn-sm ml-1" style="height: 25px; width: 25px; padding: 1px;">+</button>
	          </td>
	          <td>4/10</td>
	        </tr>
	      </tbody>
	    </table>
      
        <!-- Pagination -->
      <nav  th:if="${pager.totalRows} > 0">
        <ul class="pagination d-flex justify-content-center">
          <li class="page-item">
            <a class="page-link" onclick="goSearch(1)" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">First</span>
            </a>
          </li>
          
          <li class="page-item" th:if="${pager.groupNo>1}">
            <a class="page-link"  th:onclick="goSearch([[${pager.startPageNo-1}]])"  aria-label="Previous">
              <span aria-hidden="true">이전</span>
              <span class="sr-only">이전</span>
            </a>
          </li>
          
          <th:block th:each="i : ${#numbers.sequence(pager.startPageNo, pager.endPageNo)}">
            <li class="page-item"><a class="page-link" th:onclick="goSearch([[${i}]])">[[${i}]]</a></li>
          </th:block>
          
          <li class="page-item" th:if="${pager.groupNo<pager.totalGroupNo}" >
            <a class="page-link" th:onclick="goSearch([[${pager.endPageNo+1}]])" aria-label="Previous">
              <span aria-hidden="true">다음</span>
              <span class="sr-only">다음</span>
            </a>
          </li>
          
          <li class="page-item">
            <a class="page-link" th:onclick="goSearch([[${pager.totalPageNo}]])" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Last</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
</html>