<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

  <th:block th:replace="~{common/layout::setContent(~{this::content})}">
    <th:block th:fragment="content">
    
      <h4 class="pb-2">
        <b>회원 - 주문내역</b>
      </h4>
      <table class="table table-bordered table-sm">
      <thead  class="text-center">
        <tr>
          <th scope="col">주문일자</th>
          <th scope="col">주문번호</th>
          <th scope="col">결제 금액</th>
          <th scope="col">결제 수단</th>
          <th scope="col">주문상태</th>
          <th scope="col">상품준비중</th>
          <th scope="col">배송중</th>
          <th scope="col">배송완료</th>
          <th scope="col">교환</th>
          <th scope="col">환불</th>
        </tr>
      </thead>
      <tbody class="text-center">
        <tr th:each="orderInfo : ${orderList}">
          <td>[[${#dates.format(orderInfo.orderDate, 'yyyy-mm-dd')}]]</td>
          <td><a  th:href="@{/order/orderDetail(oid=${orderInfo.orderId})}">[[${orderInfo.orderId}]]</a></td>
          <td>[[${#numbers.formatInteger(orderInfo.totalPrice, 3, 'COMMA')}]]</td>
          <td>[[${orderInfo.payType}]]</td>
          <td>[[${orderInfo.orderState}]]</td>
          <td>[[${orderInfo.state1}]]</td>
          <td>[[${orderInfo.state2}]]</td>
          <td>[[${orderInfo.state3}]]</td>
          <td>[[${orderInfo.state4}]]</td>
          <td>[[${orderInfo.state5}]]</td>
        </tr>
      </tbody>
    </table>
      
    </th:block>
  </th:block>
  
</html>