<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

  <th:block th:replace="~{common/layout::setContent(~{this::content})}">
    <th:block th:fragment="content">
    
      <h4 class="pb-2">
        <b>회원 - 쿠폰내역</b>
      </h4>
      <table class="table table-bordered table-sm">
      <thead>
        <tr style="text-align: center">
          <th scope="col">회원 ID</th>
          <th scope="col">회원 이름</th>
          <th scope="col">쿠폰번호</th>
          <th scope="col">쿠폰명</th>
          <th scope="col">유형</th>
          <th scope="col">금액/할인율</th>
          <th scope="col">발행 일자</th>
          <th scope="col">사용 일자</th>
          <th scope="col">만료 일자</th>
          <th scope="col">사용 여부</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
      
    </th:block>
  </th:block>
  
</html>