<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

  <th:block th:replace="~{common/layout::setContent(~{this::content})}">
    <th:block th:fragment="content">
    
      <h4 class="pb-2">
        <b>[[${name}]] 님의 포인트내역</b>
      </h4>
      <table class="table table-bordered table-sm">
      <thead class="text-center">
        <tr>
          <th scope="col">번호</th>
          <th scope="col">ID</th>
          <th scope="col">일자</th>
          <th scope="col">관련주문번호</th>
          <th scope="col">포인트</th>
          <th scope="col">적립/사용/소멸</th>
        </tr>
      </thead>
      <tbody class="text-center">
        <tr th:each="point : ${pointList}">
          <td>[[${point.pointSeq}]]</td>
          <td>[[${point.memberId}]]</td>
          <td>[[${#dates.format(point.regDate, 'yyyy-mm-dd')}]]</td>
          <td>[[${point.orderId}]]</td>
          <td>[[${#numbers.formatInteger(point.point, 3, 'COMMA')}]]</td>
          <td>[[${point.type}]]</td>
        </tr>
      </tbody>
    </table>
    
    <!-- Pagination -->
    <nav>
      <ul class="pagination d-flex justify-content-center">
        <li class="page-item">
          <a class="page-link" th:href="@{'/member/memberPoint/' + ${memberId}(name=${name})}"  aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">First</span>
          </a>
        </li>
        <li class="page-item" th:if="${pager.groupNo>1}">
          <a class="page-link"  th:href="@{'/member/memberPoint/' + ${memberId}(name=${name}, pageNo=${pager.startPageNo-1})}"  aria-label="Previous">
            <span aria-hidden="true">이전</span>
            <span class="sr-only">이전</span>
          </a>
        </li>
        <th:block th:each="i : ${#numbers.sequence(pager.startPageNo, pager.endPageNo)}">
          <li class="page-item"><a class="page-link" th:href="@{'/member/memberPoint/' + ${memberId}(name=${name}, pageNo=${i})}">[[${i}]]</a></li>
        </th:block>
        <li class="page-item" th:if="${pager.groupNo<pager.totalGroupNo}" >
          <a class="page-link" th:href="@{'/member/memberPoint/' + ${memberId}(name=${name}, pageNo=${pager.endPageNo+1})}" aria-label="Previous">
            <span aria-hidden="true">다음</span>
            <span class="sr-only">다음</span>
          </a>
        </li>
        <li class="page-item">
          <a class="page-link" th:href="@{'/member/memberPoint/' + ${memberId}(name=${name}, pageNo=${pager.totalPageNo})}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Last</span>
          </a>
        </li>
      </ul>
    </nav>
      
    </th:block>
  </th:block>
  
</html>