<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

  <th:block th:replace="~{common/layout::setContent(~{this::content})}">
    <th:block th:fragment="content">
    
      <h4 class="pb-2">
        <b>회원 - 주문내역</b>
      </h4>
      <table class="table table-bordered table-sm">
      <thead>
        <tr style="text-align: center">
          <th scope="col">주문일자</th>
          <th scope="col"><a href="/order/orderDetail">주문번호</a></th>
          <th scope="col">상품명</th>
          <th scope="col">주문자 ID</th>
          <th scope="col">결제 금액</th>
          <th scope="col">결제 수단</th>
          <th scope="col">미결제</th>
          <th scope="col">입금완료</th>
          <th scope="col">주문취소</th>
          <th scope="col">상품준비중</th>
          <th scope="col">배송중</th>
          <th scope="col">배송완료</th>
          <th scope="col">교환</th>
          <th scope="col">환불</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
      
    </th:block>
  </th:block>
  
</html>