<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{common/layout::setContent(~{this::content})}">
  <th:block th:fragment="content">
    <script type="text/javascript">
	  $(function() {
		    $("#sortable").sortable({
		      cursor: "move",
		      placeholder: "sortable-placeholder",
		      helper: function(e, div) {
		        var $originals = div.children();
		        var $helper = div.clone();
		        $helper.children().each(function(index) {
    		        // Set helper cell sizes to match the original sizes
    		        $(this).width($originals.eq(index).width());
		        });
		        return $helper;
		      }
		    }).disableSelection();
		  });
	  
	  function btnClick(event){
		  let color = $("#color-picker").val();
		  
		  $("#appHeader").css('backgroundColor', color);
		  $("#appFooter").css('backgroundColor', color);
	  }
	</script>

    <style>
.fa-bars {
	cursor: move;
}

#eventBox {
	width: 400px;
	height: 150px;
	background-size: 100% 100%;
    border-style: solid;
}

#newBox {
	width: 400px;
	height: 150px;
	background-size: 100% 100%;
    border-style: solid;
}

#bestBox {
	width: 400px;
	height: 150px;
	background-size: 100% 100%;
    border-style: solid;
}

.colorBox {
	width: 300px;
}

#appHeader {
	height: 55px;
	width: 400px;
	background-color: black;
}

#appFooter {
	height: 55px;
	width: 400px;
	background-color: black;
}
</style>

    <div class="d-flex">
      <div class="col-6">
        <div class="text-center mb-4">
          <h4>
            <b>홈 레이아웃 배치 설정</b>
          </h4>
        </div>
        <div>
          <div class="d-flex justify-content-center">
            <div id="appHeader" class="d-flex justify-content-around">
              <div class="align-self-center"
                style="font-size: 25px; color: white;">
                <i class="fas fa-search"></i>
              </div>
              <div class="align-self-center">
                <h4 style="color: white">HANDSOME</h4>
              </div>
              <div class="align-self-center"
                style="font-size: 25px; color: white;">
                <i class="fas fa-shopping-cart"></i>
              </div>
            </div>
          </div>

          <div class="responsive-table d-flex justify-content-center">
            <div id="sortable">
              <div class="ui-state-default d-flex justify-content-center align-items-center my-1" id="eventBox"><h5><b>이벤트</b></h5></div>
              <div class="d-flex justify-content-center align-items-center my-1" id="newBox"><h5><b>신상품</b></h5></div>
              <div class="d-flex justify-content-center align-items-center my-1" id="bestBox"><h5><b>베스트</b></h5></div>
            </div>
          </div>

          <div class="d-flex justify-content-center">
            <div id="appFooter" class="d-flex justify-content-around">
              <div class="align-self-center"
                style="font-size: 25px; color: white; text-align: center">
                <i class="fas fa-list"></i>
              </div>
              <div class="align-self-center"
                style="font-size: 25px; color: white; text-align: center">
                <i class="fas fa-tag"></i>
              </div>
              <div class="align-self-center"
                style="font-size: 25px; color: white; text-align: center">
                <i class="fas fa-home"></i>
              </div>
              <div class="align-self-center"
                style="font-size: 25px; color: white; text-align: center">
                <i class="far fa-heart"></i>
              </div>
              <div class="align-self-center"
                style="font-size: 25px; color: white; text-align: center">
                <i class="fas fa-user"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-center mt-4">
          <a class="btn btn-primary mr-2">적용</a>
          <a class="btn btn-primary">취소</a>
        </div>
      </div>

      <div class="col-6">
        <div class="d-flex justify-content-center mb-3">
          <h4>
            <b>배경색 설정</b>
          </h4>
        </div>
        <div class="d-flex justify-content-center">
          <input id="color-picker"/>
        </div>
        <div class="d-flex justify-content-center mt-4">
          <a class="btn btn-primary mr-2" onclick="javascript:btnClick(event)">적용</a>
          <a class="btn btn-primary">취소</a>
        </div>

        <script>
          $('#color-picker').spectrum({
          	  type: "flat",
          	  showInput: true,
          	  showInitial: true,
         	  showButtons: false,
          	  allowEmpty: false,
          	  clickoutFiresChange : false
          	});
        </script>
      </div>
    </div>

  </th:block>
</th:block>
</html>