<ul class="nav flex-column">
  <li class="nav-item mb-2">
    <!-- 상품 관리 -->
  	<div th:if="${#httpServletRequest.requestURI.indexOf('/product') != -1}">
      <ul class="pl-0 mb-2">
        <a class="text-white" th:href="@{/product/list}">상품 목록 및 수정</a>
      </ul>
      <ul class="pl-0 mb-2">
        <a class="text-white" th:href="@{/product/register}">상품 등록</a>
      </ul>
      <ul class="pl-0 mb-2">
        <a class="text-white" th:href="@{/product/stock}">상세상품 재고관리</a>
	  </ul>
    </div>
    
    <!-- 주문 관리 -->
    <div th:if="${#httpServletRequest.requestURI.indexOf('/order') != -1}">	
      <a class="text-white" th:href="@{/order/orderList}">주문 목록</a>  
    </div>
    
    <!-- 고객 관리 -->
    <div th:if="${#httpServletRequest.requestURI.indexOf('/member') != -1}">	
      <a class="text-white" th:href="@{/member/firstMemberList}">고객 목록</a>  
    </div>
    
    <!-- 브랜드 관리 -->
    <div th:if="${#httpServletRequest.requestURI.indexOf('/brand') != -1}">
      <ul class="pl-0 mb-2">
        <a class="text-white" th:href="@{/brand/manager}">브랜드 관리</a>  
      </ul>
      <ul class="pl-0 mb-2">
        <a class="text-white" th:href="@{/brand/brandProducts}">브랜드 상품 관리</a>  
      </ul>
    </div>
    
    <!-- 프로모션 관리-->
    <div th:if="${#httpServletRequest.requestURI.indexOf('/promotion') != -1}"> 
      <ul class="pl-0 mb-2">
        <a class="text-white" th:href="@{/promotion/firstEventList}">이벤트 목록</a>  
      </ul>
      <ul class="pl-0 mb-2">
        <a class="text-white" th:href="@{/promotion/registerWithEventForm}">이벤트 등록</a>
      </ul>
      <ul class="pl-0 mb-2">
        <a class="text-white" th:href="@{/promotion/firstCouponList}">쿠폰 목록</a>  
      </ul>
      <ul class="pl-0 mb-2">
        <a class="text-white" th:href="@{/promotion/registerWithCouponForm}">쿠폰 등록</a>  
      </ul>
    </div>
        
    <!-- 디자인 관리-->
    <div th:if="${#httpServletRequest.requestURI.indexOf('/design') != -1}">	
      <a class="text-white" th:href="@{/design/layoutSetting}">레이아웃 설정</a>  
    </div>
  </li>

</ul>