<ul class="nav flex-column">

  <li class="nav-item mb-2">
    <h6>
      <a class="text-white" th:href="@{/product/register}">상품 등록</a>
    </h6>
    <h6>
      <a class="text-white" th:href="@{/product/list}">상품 목록 및 수정</a>
    </h6>
    <h6>
      <a class="text-white" th:href="@{/product/stock}">상세상품 재고관리</a>
    </h6>
    <!-- 주문 -->
    <h6>
      <a class="text-white" th:href="@{/}">전체 주문 목록</a>  
    </h6>
    <!-- 고객 -->
    <h6>
      <a class="text-white" th:href="@{/}">고객 관리</a>  
    </h6>
    <!-- 브랜드 -->
    <h6>
      <a class="text-white" th:href="@{/brand/manager}">브랜드 관리</a>  
    </h6>
    <h6>
      <a class="text-white" th:href="@{/brand/brandProducts}">브랜드 상품 관리(MD's Pick)</a>  
    </h6>
    <!-- 고객 -->
    <h6>
      <a class="text-white" th:href="@{/}">레이아웃 설정</a>  
    </h6>
    <!-- 프로모션 -->
    <h6>
      <a class="text-white" th:href="@{/}">이벤트 목록</a>  
    </h6>
    <h6>
      <a class="text-white" th:href="@{/}">이벤트 등록</a>  
    </h6>
    <h6>
      <a class="text-white" th:href="@{/}">쿠폰 목록</a>  
    </h6>
    <h6>
      <a class="text-white" th:href="@{/}">쿠폰 등록</a>  
    </h6>
  </li>

</ul>