<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{common/layout::setContent(~{this::content})}">
  <th:block th:fragment="content">

    <div style="text-align: center; margin-top: 80px;">
      <img th:src="@{/images/hyundai_logo.png}" width="300px" class="mb-3" />
    
      <div class="mx-auto text-center m-2 col-5">
        <form method="post" th:action="@{/login}">
          <table class="table">
            <tr>
              <th scope="row" class="align-middle">아이디</th>
              <td><input type="text" class="form-control" name="memberId"></td>
            </tr>
            <tr>
              <th scope="row" class="align-middle">비밀번호</th>
              <td><input type="password" class="form-control" name="password"></td>
            </tr>
            <tr>
              <td colspan="2" style="text-align: right">
                <button class="btn btn-success">로그인</button>
              </td>
            </tr>
          </table>
        </form>
      </div>
    </div>
    
  </th:block>
</th:block>
  
</html>