<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

  <th:block th:replace="~{common/layout::setContent(~{this::content})}">
    <th:block th:fragment="content">
    
      <h4><b>이벤트 수정</b></h4>
      
      <form id="eventEditForm">
        <table class="table">
          <tr>
            <th scope="row" class="align-middle" style="width:15%;">이벤트코드</th>
            <td colspan="2">
              <input type="text" class="form-control" th:value="${event.eventSeq}" disabled>
              <input type="hidden" class="form-control" name="eventSeq" th:value="${event.eventSeq}">
            </td>
          </tr>
          <tr>
            <th scope="row" class="align-middle" style="width:15%;">이벤트명</th>
            <td colspan="2">
              <input type="text" class="form-control" name="name" th:value="${event.name}">
            </td>
          </tr>
          <tr>
            <th scope="row" class="align-middle" style="width:15%;">첨부 이미지</th>
            <td colspan="2">
              <div class="mb-3">
                <input type="file" id="file-input" name="image">
              </div>  
              <div id="imagePreview">
        	      <img id="img" style="max-width:600px;"/>
              </div>
            </td>
          </tr>
          <tr>
            <th scope="row" class="align-middle" style="width:15%;">내용</th>
            <td colspan="2">
              <textarea class="form-control" name="content">[[${event.content}]]</textarea>
            </td>
          </tr>
          <tr>
            <th scope="row" class="align-middle">이벤트 유형</th>
            <td colspan="2">
              <input type="text" class="form-control" th:value="${event.eventType}" disabled>
              <input type="hidden" class="form-control" name="eventType" th:value="${event.eventType}">
            </td>
          </tr>
          <tr>  
            <th scope="row" class="align-middle">기간</th>
            <td>
              <input type="date" class="form-control" name="startDate">
            </td>
            <td>
              <input type="date" class="form-control" name="expDate">
            </td>
          </tr>
          <tr>
            <th scope="row" class="align-middle">진행 여부</th>
            <td colspan="2">
              <span>
                <input class="align-middle" type="radio" id="status1" name="status" value="1">
                <label class="align-middle mb-0">진행 중</label>
              </span>
              <span>
                <input class="align-middle ml-2" type="radio" id="status0" name="status" value="0"> 
                <label class="align-middle mb-0">진행 안함</label>
              </span>
            </td>
          </tr>
          <tr>
            <td colspan="3">
              <button class="btn btn-primary float-right" type="button" onclick="editEvent()">수정</button>
            </td>
          </tr>
        </table>
      </form>
      
      <div class="modal" id="editEventSuccessModal">
        <div class="modal-dialog">
          <div class="modal-content">
            
            <div class="modal-header">
              <h4><b>이벤트 수정</b></h4>
            </div>
            <div class="modal-body">
              <p>이벤트를 성공적으로 수정했습니다.</p>
            </div>
            <div class="modal-footer d-flex justify-content-center">
              <button type="button" class="btn btn-primary" onclick="goEventList()">이벤트 목록으로 돌아가기</button>
            </div>
              
          </div>
        </div>
      </div>
      
      <script th:inline="javascript">
        let sel_file;
        
        $(document).ready(function() {
          $('#file-input').on("change", handleImgFileSelect);
        });
        
        function handleImgFileSelect(e) {
          let files = e.target.files;
          let filesArr = Array.prototype.slice.call(files);
          
          filesArr.forEach(function(f) {
            if(!f.type.match("image.*")) {
              alert("이미지만 첨부 가능합니다.");
              return;
            }
            
            sel_file = f;
            
            let reader = new FileReader();
            reader.onload = function(e) {
              $('#img').attr("src", e.target.result);
            }
            
            reader.readAsDataURL(f);
          });
        }
        
        function editEvent() {
        	let eventEditForm = $('#eventEditForm').serialize();
        	
        	$.ajax({
        		type:"POST",
        		url:"/promotion/editEvent",
    			data: eventEditForm,
    			dataType: "json",
    			success: function(data) {
    				if(data.result == 'success') {
    					$('#editEventSuccessModal').modal('show');
    				}
    			},
    			error: function(error) {
    				console.log(error);
    			}
        	});
        }
        
        function goEventList() {
        	location.href='/promotion/firstEventList';
        }
        
        /* 진행 여부 체크 */
      	let status = [[${event.status}]];
      	if(status == '0') {
      		document.getElementById('status0').checked = true;
      	} else {
      		document.getElementById('status1').checked = true;
      	}
      	
      	/* 기간 날짜 입력 */
      	let startDate = [[${event.startDate}]];
      	let expDate = [[${event.expDate}]];
      	startDate = moment(startDate).format("YYYY-MM-DD");
      	expDate = moment(expDate).format("YYYY-MM-DD");
      	
      	$('input[name=startDate]').val(startDate);
      	$('input[name=expDate]').val(expDate);
      </script>
      
    </th:block>
  </th:block>
  
</html>