<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

  <th:block th:replace="~{common/layout::setContent(~{this::content})}">
    <th:block th:fragment="content">
    
      <div>
      <h4><b>이벤트 목록</b></h4>
      <table class="table"
        style="width: 100%; padding: 0px; margin: 0px;">
        <colgroup>
          <col style="width: 15%" />
          <col style="width: 45%" />
          <col style="width: 45%" />
        </colgroup>
        <tr>
          <th style="vertical-align:middle">검색</th>
          <td colspan="2">
            <input type="text" class="form-control" aria-label="Text input with dropdown button">
          </td>
        </tr>
        <tr>
          <th style="vertical-align: middle">기간</th>
          <td><input type="date" class="form-control" name="date"
            required="required"></td>
          <td><input type="date" class="form-control" name="date"
            required="required"></td>
        </tr>
        <tr>
          <th style="vertical-align: middle">이벤트 유형</th>
          <td colspan="2">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="evnetTypeCheckbock1" value="coupon"
                     th:onclick="javascript:setCouponDisplay()">
              <label>쿠폰</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="evnetTypeCheckbock2" value="discountOfProduct"
                     th:onclick="javascript:setDiscountDisplay()"> 
              <label>상품 할인</label>
            </div>
          </td>
        </tr>
        <tr>
          <th style="vertical-align: middle">진행 여부</th>
          <td colspan="2">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="eventProgressStatusCheckbox1" value="inProgress" checked>
              <label>진행 중</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="eventProgressStatusCheckbox2" value="notInProgress"> 
              <label>진행 안함</label>
            </div>
          </td>
        </tr>
        <tr>
          <td colspan="3" style="text-align: right">
            <input type="button" class="btn btn-sm btn-info" value="검색" />
          </td>
        </tr>
      </table>
    </div>

    <br />
      <h4 class="pb-2">
        <b>이벤트 목록</b>
      </h4>
      <div class="pl-1 pb-2">
          <button class="btn btn-info btn-sm">선택 삭제</button>
        </div>
      <table class="table table-bordered table-sm">
        <thead>
          <tr style="text-align: center">
            <th scope="col">체크박스</th>
            <th scope="col">등록 일자</th>
            <th scope="col">이벤트명</th>
            <th scope="col">유형</th>
            <th scope="col">시작 일자</th>
            <th scope="col">종료 일자</th>
            <th scope="col">수정</th>
          </tr>
        </thead>
        <tbody>
          <tr style="text-align: center">
            <td><input type="checkbox"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
              <a href="" class="btn btn-secondary btn-sm">수정</a>
            </td>
          </tr>
        </tbody>
      </table>
      
    </th:block>
  </th:block>
  
</html>