<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

  <th:block th:replace="~{common/layout::setContent(~{this::content})}">
    <th:block th:fragment="content">
    
      <h4 class="pb-2"><b>쿠폰 등록</b></h4>
      <table class="table">
        <tr>
          <th scope="row" class="align-middle" style="width:15%;">쿠폰번호</th>
          <td colspan="2">
            <input type="text" class="form-control">
          </td>
        </tr>
        <tr>
          <th scope="row" class="align-middle">쿠폰명</th>
          <td colspan="2">
            <input type="text" class="form-control">
          </td>
        </tr>
        <tr>
          <th scope="row" class="align-middle">만료 일자</th>
          <td>
            <input type="date" class="form-control" name="date" required="required">
          </td>
        </tr>
        <tr>
            <th scope="row" class="align-middle">쿠폰 유형</th>
            <td colspan="2">
              <span>
                <input type="radio" class="align-middle" id="couponTypeRadio1" name="couponTypeRadio" value="discountPrice">
                <label class="align-middle mb-0">할인</label>
              </span>
              <span>
                <input type="radio" class="align-middle ml-2" id="couponTypeRadio2" name="couponTypeRadio" value="earnPoint "> 
                <label class="align-middle mb-0">포인트 적립</label>
              </span>
            </td>
          </tr>
        <tr>
          <th scope="row" class="align-middle">할인금액/할인율</th>
          <td colspan="2">
            <input type="text" class="form-control">
          </td>
        </tr>
        <tr>
          <th scope="row" class="align-middle">발급 수량</th>
          <td colspan="2">
            <input type="text" class="form-control">
          </td>
        </tr>
        <tr>
          <th scope="row" class="align-middle">진행 여부</th>
          <td colspan="2">
            <span>
              <input class="align-middle" type="radio" id="couponProgressStatusRadio1" name="couponProgressStatusRadio" value="inProgress">
              <label class="align-middle mb-0">진행 중</label>
            </span>
            <span>
              <input class="align-middle ml-2" type="radio" id="couponProgressStatusRadio2" name="couponProgressStatusRadio1" value="notInProgress"> 
              <label class="align-middle mb-0">진행 안함</label>
            </span>
          </td>
        </tr>
        <tr>
          <td colspan="3">
            <button class="btn btn-info btn-sm float-right">등록</button>
          </td>
        </tr>
      </table>
      
    </th:block>
  </th:block>
  
</html>