<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{common/layout::setContent(~{this::content})}">
  <th:block th:fragment="content">
    <script type="text/javascript">
			  function selectDropDownInput(event,id){
					inputBox = document.querySelector(id);
					inputText = event.target.innerHTML;
					console.log(inputText);
					inputBox.value = inputText;
			  }
			  function selectDropDownBtn(event,id){
					inputBox = document.querySelector(id);
					inputText = event.target.innerHTML;
					inputBox.innerHTML = inputText;
			  }
			</script>

    <h5><b>브랜드를 선택하세요</b></h5>
    <div class="input-group mt-3 mb-3">
      <div class="input-group-prepend">
        <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">브랜드</button>
        <div class="dropdown-menu">
          <a class="dropdown-item" onclick="javascript:selectDropDownInput(event,'#brandInput')">TIME HOMME</a>
				  <a class="dropdown-item" onclick="javascript:selectDropDownInput(event,'#brandInput')">SYSTEM HOMME</a>
				  <a class="dropdown-item" onclick="javascript:selectDropDownInput(event,'#brandInput')">the CASHMERE</a>
        </div>
      </div>
      <input type="text" id="brandInput" class="form-control">
    </div>

    <br/>
    <div>
      <h4><b>상품 검색</b></h4>
      <table class="table" style="width: 100%;">
        <colgroup>
          <col style="width: 10%" />
          <col style="width: 45%" />
          <col style="width: 45%" />
        </colgroup>
        <tr class="align-middle">
          <th>검색 분류</th>
          <td colspan="2" class="p-0">
            <div class="input-group mt-1">
              <div class="input-group-prepend">
                <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="searchType" data-toggle="dropdown" aria-expanded="false">
                  Dropdown
                </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" onclick="javascript:selectDropDownBtn(event,'#searchType')">상품코드</a>
			            <a class="dropdown-item" onclick="javascript:selectDropDownBtn(event,'#searchType')">상품명</a>
			            <a class="dropdown-item" onclick="javascript:selectDropDownBtn(event,'#searchType')">브랜드명</a>
                </div>
              </div>
              <input type="text" class="form-control">
            </div>
          </td>
        </tr>
        <tr class="align-middle">
          <th>카테고리</th>
          <td colspan="2" class="align-middle p-0">
            <div class="input-group">
              <div class="input-group-prepend ">
                <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="gbn1" data-toggle="dropdown" aria-expanded="false">
                  대분류
                </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" onclick="javascript:selectDropDownBtn(event,'#gbn1')">여성</a>
                  <a class="dropdown-item" onclick="javascript:selectDropDownBtn(event,'#gbn1')">남성</a>
                  <a class="dropdown-item" onclick="javascript:selectDropDownBtn(event,'#gbn1')">아동</a>
                </div>
              </div>
              <div class="input-group-prepend">
                <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="gbn2" data-toggle="dropdown" aria-expanded="false">
                  중분류
                </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" onclick="javascript:selectDropDownBtn(event,'#gbn2')">상의</a>
                  <a class="dropdown-item" onclick="javascript:selectDropDownBtn(event,'#gbn2')">하의</a>
                  <a class="dropdown-item" onclick="javascript:selectDropDownBtn(event,'#gbn2')">아우터</a>
                </div>
              </div>
              <div class="input-group-prepend">
                <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="gbn3" data-toggle="dropdown" aria-expanded="false">
                  소분류
                </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" onclick="javascript:selectDropDownBtn(event,'#gbn3')">가디건</a>
                  <a class="dropdown-item" onclick="javascript:selectDropDownBtn(event,'#gbn3')">블라우스</a>
                  <a class="dropdown-item" onclick="javascript:selectDropDownBtn(event,'#gbn3')">셔츠</a>
                </div>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <th class="align-middle">상품등록일</th>
          <td class="pl-0 pt-1 pb-1">
            <input type="date" class="form-control" name="date" required="required">
          </td>
          <td class="pl-0 pt-1 pb-1">
            <input type="date" class="form-control" name="date" required="required">
          </td>
        </tr>
        <tr>
          <tr>
          <th scope="row" class="align-middle">진행 여부</th>
          <td colspan="2">
            <span>
              <input class="align-middle" type="checkbox" id="productProgressStatusCheckbox1" value="inProgress">
              <label class="align-middle mb-0">진행 중</label>
            </span>
            <span>
              <input class="align-middle ml-2" type="checkbox" id="productProgressStatusCheckbox2" value="notInProgress"> 
              <label class="align-middle mb-0">진행 안함</label>
            </span>
          </td>
        </tr>
        <tr>
            <td colspan="3">
              <input type="button" class="btn btn-info float-right" value="검색" />
            </td>
          </tr>
      </table>
    </div>
    
    <br/>
    <h4>MD's Pick</h4>
    <table class="table table-sm">
      <thead class="align-middle text-center">
        <tr>
          <th scope="col">등록 일자</th>
          <th scope="col">상품코드</th>
          <th scope="col">상품명</th>
          <th scope="col">판매량</th>
          <th scope="col">등록</th>
        </tr>
      </thead>
      <tbody class="align-middle text-center">
        <tr>
          <td>2021-03-22</td>
          <td>CM2B0KJC210W</td>
          <td>벨티드 니트 가디건</td>
          <td>123</td>
          <td><button type="button" class="btn btn-sm btn-danger">취소</button></td>
        </tr>
        <tr>
          <td>2021.11.11</td>
          <td>CM2B0KCD231WP1</td>
          <td>캐시미어 블렌드 니트 가디건</td>
          <td>20</td>
          <td><button type="button" class="btn btn-sm btn-danger">취소</button></td>
        </tr>
        <tr>
          <td></td>
          <td>CM2B0KOT209W</td>
          <td>스티치 니트 재킷</td>
          <td>30</td>
          <td><button type="button" class="btn btn-sm btn-primary">등록</button></td>
        </tr>
        <tr>
          <td colspan="5">
            <a class="btn btn-info btn-sm float-right ml-2">수정</a>
            <a class="btn btn-info btn-sm float-right">취소</a>
          </td>
        </tr>
      </tbody>
    </table>

  </th:block>
</th:block>
</html>