<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{common/layout::setContent(~{this::content})}">
  <th:block th:fragment="content">

    <h5><b>브랜드를 선택하세요</b></h5>
    <div class="input-group mt-3 mb-3">
      <div class="input-group-prepend">
        <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">브랜드</button>
        <div class="dropdown-menu">
          <a class="dropdown-item">TIME HOMME</a>
          <a class="dropdown-item">SYSTEM HOMME</a>
          <a class="dropdown-item">the CASHMERE</a>
        </div>
      </div>
      <input type="text" class="form-control">
    </div>

    <br/>
    <div>
      <h4><b>상품 검색</b></h4>
      <table class="table" style="width: 100%;">
        <colgroup>
          <col style="width: 10%" />
          <col style="width: 45%" />
          <col style="width: 45%" />
        </colgroup>
        <tr class="align-middle">
          <th>검색 분류</th>
          <td colspan="2" class="p-0">
            <div class="input-group mt-1">
              <div class="input-group-prepend">
                <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                  Dropdown
                </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">상품코드</a>
                  <a class="dropdown-item" href="#">상품명</a>
                  <a class="dropdown-item" href="#">브랜드명</a>
                </div>
              </div>
              <input type="text" class="form-control">
            </div>
          </td>
        </tr>
        <tr class="align-middle">
          <th>카테고리</th>
          <td colspan="2" class="align-middle p-0">
            <div class="input-group">
              <div class="input-group-prepend ">
                <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                  대분류
                </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">여성</a>
                  <a class="dropdown-item" href="#">남성</a>
                  <a class="dropdown-item" href="#">아동</a>
                </div>
              </div>
              <div class="input-group-prepend">
                <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                  중분류
                </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">상의</a>
                  <a class="dropdown-item" href="#">하의</a>
                  <a class="dropdown-item" href="#">아우터</a>
                </div>
              </div>
              <div class="input-group-prepend">
                <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                  소분류
                </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">가디건</a>
                  <a class="dropdown-item" href="#">블라우스</a>
                  <a class="dropdown-item" href="#">셔츠</a>
                </div>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <th class="align-middle">상품등록일</th>
          <td class="pl-0 pt-1 pb-1">
            <input type="date" class="form-control" name="date" required="required">
          </td>
          <td class="pl-0 pt-1 pb-1">
            <input type="date" class="form-control" name="date" required="required">
          </td>
        </tr>
        <tr>
          <tr>
          <th scope="row" class="align-middle">진행 여부</th>
          <td colspan="2">
            <span>
              <input class="align-middle" type="checkbox" id="productProgressStatusCheckbox1" value="inProgress">
              <label class="align-middle mb-0">진행 중</label>
            </span>
            <span>
              <input class="align-middle ml-2" type="checkbox" id="productProgressStatusCheckbox2" value="notInProgress"> 
              <label class="align-middle mb-0">진행 안함</label>
            </span>
          </td>
        </tr>
        <tr>
            <td colspan="3">
              <input type="button" class="btn btn-info float-right" value="검색" />
            </td>
          </tr>
      </table>
    </div>
    
    <br/>
    <h4>MD's Pick</h4>
    <table class="table table-sm">
      <thead class="align-middle text-center">
        <tr>
          <th scope="col">등록 일자</th>
          <th scope="col">상품코드</th>
          <th scope="col">상품명</th>
          <th scope="col">판매량</th>
        </tr>
      </thead>
      <tbody class="align-middle text-center">
        <tr>
          <td>2021-03-22</td>
          <td>CM2B0KJC210W</td>
          <td>벨티드 니트 가디건</td>
          <td>123</td>
        </tr>
        <tr>
          <td colspan="4">
            <a class="btn btn-info btn-sm float-right ml-2">수정</a>
            <a class="btn btn-info btn-sm float-right">취소</a>
          </td>
        </tr>
      </tbody>
    </table>

  </th:block>
</th:block>
</html>