<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{common/layout::setContent(~{this::content})}">
  <th:block th:fragment="content">

    <h5><b>브랜드를 선택하세요</b></h5>
    <div class="input-group mt-3 mb-3">
      <div class="input-group-prepend">
        <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">브랜드</button>
        <div class="dropdown-menu">
          <a class="dropdown-item">TIME HOMME</a>
          <a class="dropdown-item">SYSTEM HOMME</a>
          <a class="dropdown-item">the CASHMERE</a>
        </div>
      </div>
      <input type="text" class="form-control">
    </div>
    
    <br/>
    <div>
      <h4><b>브랜드</b></h4>
      <table class="table">
        <tr>
          <th scope="row" class="w-25">브랜드명</th>
          <td>TIME HOMME</td>
        </tr>
        <tr>
          <th scope="row">브랜드 카테고리</th>
          <td>
            <span>
              <input class="align-middle" type="checkbox" id="brandCategoryCheckbox1" value="남성">
              <label class="align-middle mb-0">남성</label>
            </span>
            <span>
              <input class="align-middle ml-2" type="checkbox" id="brandCategoryCheckbox2" value="여성">
              <label class="align-middle mb-0">여성</label>
            </span>
            <span>
              <input class="align-middle ml-2" type="checkbox" id="brandCategoryCheckbox3" value="해외">
              <label class="align-middle mb-0">해외</label>
            </span>
            <span>
              <input class="align-middle ml-2" type="checkbox" id="brandCategoryCheckbox4" value="편집">
              <label class="align-middle mb-0">편집</label>
            </span>
          </td>
        </tr>
        <tr>
          <th scope="row">브랜드 설명</th>
          <td>
            <textarea class="form-control" id="brandContent" rows="3">롱앤린(Long & Lean) 실루엣을 표방하는 슬림(Slim)과 젊은 남성 고객들의 기호에 맞는 과감한 디자인 및 핏을 제시하는 스타일리시(Stylish), 이 둘을 접목시킨 시스템 옴므는 자신의 스타일을 제대로 파악해 보다 완성도 있게 표현할 줄 아는 남자를 위한 옷이다.</textarea>
          </td>
        </tr>
        <tr>
          <th scope="row">브랜드 로고 사진</th>
          <td>
            <input type="file" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
            <img src="/images/systemlogo.png" class="img-thumbnail rounded float-right w-25" alt="brandlogo">
          </td>
        </tr>
        <tr>
          <th scope="row">브랜드 대표 사진</th>
          <td>
            <input type="file" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
            <span class="float-right">
              <img src="/images/systemhomme.png" class="img-thumbnail rounded float-right w-25" alt="brandlogo">
            </span>
          </td>
        </tr>
        <tr>
          <td colspan="3">
            <a class="btn btn-info btn-sm float-right ml-2">수정</a>
            <a class="btn btn-info btn-sm float-right">취소</a>
          </td>
        </tr>
      </table>
    </div>
    
    <br/>    
    <h4><b>브랜드 상품 카테고리 활성화/비활성화</b></h4>
    <table class="table table-sm">
      <thead class="align-middle text-center">
        <tr>
          <th scope="col">체크</th>
          <th scope="col">대분류</th>
          <th scope="col">중분류</th>
          <th scope="col">소분류</th>
        </tr>
      </thead>
      <tbody class="align-middle text-center">
        <tr>
          <td><input type="checkbox" id="flexSwitchCheckChecked"></td>
          <td>남성</td>
          <td>아우터</td>
          <td>재킷</td>
        </tr>
        <tr>
          <td><input type="checkbox" id="flexSwitchCheckChecked"></td>
          <td>남성</td>
          <td>탑</td>
          <td>셔츠</td>
        </tr>
        <tr>
          <td><input type="checkbox" id="flexSwitchCheckChecked"></td>
          <td>여성</td>
          <td>탑</td>
          <td>블라우스</td>
        </tr>
        <tr>
          <td><input type="checkbox" id="flexSwitchCheckChecked"></td>
          <td>여성</td>
          <td>아우터</td>
          <td>점퍼</td>
        </tr>
        <tr>
          <td colspan="4">
            <a class="btn btn-info btn-sm float-right ml-2">수정</a>
            <a class="btn btn-info btn-sm float-right">취소</a>
          </td>
        </tr>
      </tbody>
    </table>
    
  </th:block>
</th:block>
</html>