<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

  <th:block th:replace="~{common/layout::setContent(~{this::content})}">
    <th:block th:fragment="content">
      <h4><b>주문 상세 정보</b></h4>
      <table class="table table-bordered">
        <tr>
          <th scope="row" style="width:20%">주문일자</th>
          <td>[[${data.order.orderDate}]]</td>
        </tr>
        <tr>
          <th scope="row">주문번호</th>
          <td>[[${data.order.orderId}]]</td>
        </tr>
        <tr>
          <th scope="row">주문자 ID</th>
          <td>[[${data.order.memberId}]]</td>
        </tr>
        <tr>
          <th scope="row">총 결제 금액</th>
          <td>[[${data.order.totalPrice}]]</td>
        </tr>
        <tr>
          <th scope="row">결제 수단</th>
          <td>[[${data.order.payType}]]</td>
        </tr>
        <tr>
          <th scope="row">수령인</th>
          <td>[[${data.order.name}]]</td>
        </tr>
        <tr>
          <th scope="row">배송지 정보</th>
          <td>([[${data.order.zipCode}]]) [[${data.order.address1}]] / [[${data.order.address2}]] </td>
        </tr>
        <tr>
          <th scope="row">요청사항</th>
          <td>[[${data.order.request}]]</td>
        </tr>
        <tr>
          <th scope="row">주문상태</th>
          <td>[[${data.order.state}]]</td>
        </tr>
      </table>
      <br/>
      <h4><b>결제 상세 정보</b></h4>
      <table class="table table-bordered table-sm">
        <thead class="text-center">
          <tr>
            <th scope="col">분류</th>
            <th scope="col">가격</th>
            <th scope="col">상태</th>
            <th scope="col">결제정보</th>
            <th scope="col">은행사</th>
            <th scope="col">할부</th>
            <th scope="col">비고</th>
          </tr>
        </thead>
        <tbody class="text-center">
          <tr th:each="payment : ${data.payments}">
            <td>[[${payment.type}]]</td>
            <td>[[${payment.price}]]</td>
            <td>[[${payment.state}]]</td>
            <td>[[${payment.accountNo}]]</td>
            <td>[[${payment.bank}]]</td>
            <td>[[${payment.installment}]]</td>
            <td></td>
       
          </tr>
        </tbody>
      </table>
      
      <br/>
      <h4><b>상세 상품 정보</b></h4>
      <table class="table table-bordered table-sm">
        <thead class="text-center">
          <tr>
            <th scope="col">상품 상세 번호</th>
            <th scope="col">브랜드명</th>
            <th scope="col">상품명</th>
            <th scope="col">컬러</th>
            <th scope="col">사이즈</th>
            <th scope="col">주문수량</th>
            <th scope="col">송장번호</th>
            <th scope="col">배송상태</th>
            <th scope="col">물류</th>
            <th scope="col">CS</th>
          </tr>
        </thead>
        
        <tbody class="text-center">
          <tr th:each="orderDetail : ${data.orderDetails}">
            <td>[[${orderDetail.productDetailId}]]</td>
            <td>[[${orderDetail.brand}]]</td>
            <td>[[${orderDetail.name}]]</td>
            <td>[[${orderDetail.color}]]</td>
            <td>[[${orderDetail.psize}]]</td>
            <td>[[${orderDetail.amount}]]</td>
            <td>[[${orderDetail.deliveryNo}]]</td>
            <td>[[${orderDetail.state}]]</td>
            <td><button class="btn btn-secondary btn-sm">배송상태 변경</button></td>
            <td><button class="btn btn-secondary btn-sm">교환</button><button class="btn btn-secondary btn-sm">환불</button></td>
          </tr>
        </tbody>
      </table>
      <button class="btn btn-secondary btn-sm">전체 취소</button>
    </th:block>
  </th:block>
  
</html>