<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{common/layout::setContent(~{this::content})}">
  <th:block th:fragment="content">
  <script type="text/javascript">
		function selectDropDownBtn(event,id){
			inputBox = document.querySelector(id);
			inputText = event.target.innerHTML;
			inputBox.innerHTML = inputText;
			console.log(inputBox);
			console.log(inputText);
		}
	</script>
    <div>
      <h4>
        <b>주문 검색</b>
      </h4>
      <table class="table p-0 m-0" style="width: 100%;">
        <colgroup>
          <col style="width: 10%" />
          <col style="width: 45%" />
          <col style="width: 45%" />
        </colgroup>
        <tr>
          <th class="align-middle">검색</th>
          <td colspan="2" class="pt-2 pb-2">
            <div class="input-group mt-1">
              <div class="input-group-prepend">
                <button class="btn btn-outline-secondary dropdown-toggle" id="orderSearchType" type="button" data-toggle="dropdown" aria-expanded="false">분류</button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" onclick="javascript:selectDropDownBtn(event,'#orderSearchType')">주문번호</a>
                  <a class="dropdown-item" onclick="javascript:selectDropDownBtn(event,'#orderSearchType')">주문자 ID</a>
                  <a class="dropdown-item" onclick="javascript:selectDropDownBtn(event,'#orderSearchType')">상품번호</a>
                  <a class="dropdown-item" onclick="javascript:selectDropDownBtn(event,'#orderSearchType')">상품명</a>
                  <a class="dropdown-item" onclick="javascript:selectDropDownBtn(event,'#orderSearchType')">브랜드명</a>
                </div>
              </div>
              <input type="text" class="form-control">
            </div>
          </td>
        </tr>
        <tr>
            <th class="align-middle">기간</th>
            <td>
              <input type="date" class="form-control" name="regDate" required="required">
            </td>
            <td>
              <input type="date" class="form-control" name="expDate" required="required">
            </td>
          </tr>
        <tr>
          <th class="align-middle">상품 상태</th>
          <td colspan="2">
            <span>
              <input class="align-middle" type="checkbox" id="deliveryProgressStatusCheckbox1" value="전체">
              <label class="align-middle mb-0">전체</label>
            </span>
            <span>
              <input class="align-middle" type="checkbox" id="deliveryProgressStatusCheckbox2" value="출고대기">
              <label class="align-middle mb-0">출고 대기</label>
            </span>
            <span>
              <input class="align-middle ml-2" type="checkbox" id="deliveryProgressStatusCheckbox3" value="상품준비중">
              <label class="align-middle mb-0">상품 준비 중</label>
            </span>
            <span>
              <input class="align-middle ml-2" type="checkbox" id="deliveryProgressStatusCheckbox4" value="배송중">
              <label class="align-middle mb-0">배송 중</label>
            </span>
            <span>
              <input class="align-middle ml-2" type="checkbox" id="deliveryProgressStatusCheckbox5" value="배송완료">
              <label class="align-middle mb-0">배송 완료</label>
            </span>
            <span>
              <input class="align-middle ml-2" type="checkbox" id="orderProgressStatusCheckbox6" value="교환">
              <label class="align-middle mb-0">교환</label>
            </span>
            <span>
              <input class="align-middle ml-2" type="checkbox" id="orderProgressStatusCheckbox7" value="환불">
              <label class="align-middle mb-0">환불</label>
            </span>
          </td>
        </tr>
        <tr>
          <th class="align-middle">주문 상태</th>
          <td colspan="2">
            <span>
              <input class="align-middle" type="checkbox" id="orderProgressStatusCheckbox1" value="전체">
              <label class="align-middle mb-0">전체</label>
            </span>
            <span>
              <input class="align-middle ml-2" type="checkbox" id="orderProgressStatusCheckbox2" value="미결제">
              <label class="align-middle mb-0">입금 대기</label>
            </span>
            <span>
              <input class="align-middle ml-2" type="checkbox" id="orderProgressStatusCheckbox3" value="입금완료">
              <label class="align-middle mb-0">주문 완료</label>
            </span>
            <span>
              <input class="align-middle ml-2" type="checkbox" id="orderProgressStatusCheckbox4" value="입금완료">
              <label class="align-middle mb-0">주문 처리중</label>
            </span>
            <span>
              <input class="align-middle ml-2" type="checkbox" id="orderProgressStatusCheckbox5" value="입금완료">
              <label class="align-middle mb-0">주문 확정</label>
            </span>
            <span>
              <input class="align-middle ml-2" type="checkbox" id="orderProgressStatusCheckbox6" value="주문취소">
              <label class="align-middle mb-0">주문 취소</label>
            </span>
            
          </td>
        </tr>
        <tr>
          <td colspan="3" style="text-align: right">
            <input type="button" class="btn btn-primary" value="검색" />
          </td>
        </tr>
      </table>
    </div>

    <br />
    <h4>
      <b>주문 목록</b>
    </h4>
    <table class="table table-bordered table-sm">
      <thead class="text-center">
        <tr>
          <th scope="col">주문일자</th>
          <th scope="col">주문번호</th>
          <th scope="col">주문자 ID</th>
          <th scope="col">결제 금액</th>
          <th scope="col">결제 수단</th>
          <th scope="col">주문상태</th>
          <th scope="col">전체</th>
          <th scope="col">출고대기</th>
          <th scope="col">배송준비</th>
          <th scope="col">배송중</th>
          <th scope="col">배송완료</th>
          <th scope="col">교환</th>
          <th scope="col">환불</th>
        </tr>
      </thead>
      <tbody class="text-center">
        <tr th:each="orderInfo : ${orderList}">
          <td>[[${orderInfo.orderDate}]]</td>
          <td><a  th:href="@{orderDetail(oid=${orderInfo.orderId})}">[[${orderInfo.orderId}]]</a></td>
          <td>[[${orderInfo.memberId}]]</td>
          <td>[[${orderInfo.totalPrice}]]</td>
          <td>[[${orderInfo.payType}]]</td>
          <td>[[${orderInfo.orderState}]]</td>
          <td>[[${orderInfo.totalProduct}]]</td>
          <td>[[${orderInfo.state1}]]</td>
          <td>[[${orderInfo.state2}]]</td>
          <td>[[${orderInfo.state3}]]</td>
          <td>[[${orderInfo.state4}]]</td>
          <td>[[${orderInfo.state5}]]</td>
          <td>0</td>
        </tr>
      </tbody>
    </table>
	
	<!-- Pagination -->
	<nav class="d-flex text-center">
	  <ul class="pagination">
	  
	  
	    <li class="page-item">
	      <a class="page-link" href="/order/orderList?pageNo=1" aria-label="Previous">
	        <span aria-hidden="true">&laquo;</span>
	        <span class="sr-only">First</span>
	      </a>
	    </li>
	    
	    
	    <li class="page-item" th:if="${pager.groupNo>1}">
	      <a class="page-link"  th:href="@{orderList(pageNo=${pager.startPageNo-1})}"  aria-label="Previous">
	        <span aria-hidden="true">이전</span>
	        <span class="sr-only">이전</span>
	      </a>
	    </li>
	    
	    <th:block th:each="i : ${#numbers.sequence(pager.startPageNo, pager.endPageNo)}">
	    	<li class="page-item"><a class="page-link" th:href="@{orderList(pageNo=${i})}">[[${i}]]</a></li>
	    </th:block>
	    
	    <li class="page-item" th:if="${pager.groupNo<pager.totalGroupNo}" >
	      <a class="page-link" th:href="@{orderList(pageNo=${pager.endPageNo+1})}" aria-label="Previous">
	        <span aria-hidden="true">다음</span>
	        <span class="sr-only">다음</span>
	      </a>
	    </li>
	    
	    
	    <li class="page-item">
	      <a class="page-link" th:href="@{orderList(pageNo=${pager.totalPageNo})}" aria-label="Next">
	        <span aria-hidden="true">&raquo;</span>
	        <span class="sr-only">Last</span>
	      </a>
	    </li>
	  </ul>
	</nav>

  </th:block>
</th:block>

</html>