<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{common/layout::setContent(~{this::content})}">
  <th:block th:fragment="content">
  <script type="text/javascript">
		  let orderSearch = {
				  odStateList : [],
				  oStateList : [],
				  pageNo : 1
		  };	
  
		function selectDropDownBtn(event,id){
			inputBox = document.querySelector(id);
			inputText = event.target.innerHTML;
			inputBox.innerHTML = inputText;
			if(inputText=='주문번호'){
				orderSearch.searchType = 'order_id';
	        }else if(inputText=='주문자 ID'){
	        	orderSearch.searchType = 'member_id';
	        }else{
	        	orderSearch.searchType = 'None';
	        }
		}
		
		function goSearch(pageNo){
	    	  console.log(pageNo);
	    	  orderSearch.pageNo = pageNo;
	    	  
	    	  orderSearch.searchWord = $("#searchWord").val();
	    	  orderSearch.startDate = $("#startDate").val();
	    	  
	    	
	    	  orderSearch.endDate = $("#endDate").val();
	    	  orderSearch.odStateList = [];
	    	  $("input:checkbox[name='odState']:checked").each(
	    		function() {
	    			orderSearch.odStateList.push(this.value);
	    	  });
	    	  orderSearch.oStateList = [];
	    	  $("input:checkbox[name='oState']:checked").each(
  	    		function() {
  	    			orderSearch.oStateList.push(this.value);
  	    	  });
	   
	    	  let jsonData = JSON.stringify(orderSearch);
			  console.log(jsonData);
	    	  $.ajax({
	    	        url:"http://localhost:83/orderhtml/searchMap",
	    	        type:"POST",
	    	        contentType: 'application/json',
	    	        data: jsonData,
	    	        dataType: 'html',
	    	        success: function(fragment){
	    	        	//console.log(fragment);
	    	        	$("#orderTable").replaceWith(fragment);
	    	        },
	    	        error: function(request,status,error) {
						console.log("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
					} 
	    	    });
	      }
	</script>
    <div>
      <h4>
        <b>주문 검색</b>
      </h4>
      <table class="table p-0 m-0" style="width: 100%;">
        <colgroup>
          <col style="width: 10%" />
          <col style="width: 45%" />
          <col style="width: 45%" />
        </colgroup>
        <tr>
          <th class="align-middle">검색</th>
          <td colspan="2" class="pt-2 pb-2">
            <div class="input-group mt-1">
              <div class="input-group-prepend">
                <button class="btn btn-outline-secondary dropdown-toggle" id="searchType" type="button" data-toggle="dropdown" aria-expanded="false">분류</button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" onclick="javascript:selectDropDownBtn(event,'#searchType')">주문번호</a>
                  <a class="dropdown-item" onclick="javascript:selectDropDownBtn(event,'#searchType')">주문자 ID</a>
                  <a class="dropdown-item" onclick="javascript:selectDropDownBtn(event,'#searchType')">상품번호</a>
                  <a class="dropdown-item" onclick="javascript:selectDropDownBtn(event,'#searchType')">상품명</a>
                  <a class="dropdown-item" onclick="javascript:selectDropDownBtn(event,'#searchType')">브랜드명</a>
                </div>
              </div>
              <input type="text" id="searchWord" class="form-control">
            </div>
          </td>
        </tr>
        <tr>
            <th class="align-middle">기간</th>
            <td>
              <input type="date" class="form-control" id="startDate" required="required">
            </td>
            <td>
              <input type="date" class="form-control" id="endDate" required="required">
            </td>
          </tr>
        <tr>
          <th class="align-middle">상품 상태</th>
          <td colspan="2">
            <span>
              <input class="align-middle" type="checkbox" id="deliveryProgressStatusCheckbox1" value="전체">
              <label class="align-middle mb-0">전체</label>
            </span>
            <span>
              <input class="align-middle" type="checkbox" name="odState" id="deliveryProgressStatusCheckbox2" value="1">
              <label class="align-middle mb-0">출고 대기</label>
            </span>
            <span>
              <input class="align-middle ml-2" type="checkbox" name="odState" id="deliveryProgressStatusCheckbox3" value="2">
              <label class="align-middle mb-0">상품 준비 중</label>
            </span>
            <span>
              <input class="align-middle ml-2" type="checkbox" name="odState" id="deliveryProgressStatusCheckbox4" value="3">
              <label class="align-middle mb-0">배송 중</label>
            </span>
            <span>
              <input class="align-middle ml-2" type="checkbox" name="odState" id="deliveryProgressStatusCheckbox5" value="4">
              <label class="align-middle mb-0">배송 완료</label>
            </span>
            <span>
              <input class="align-middle ml-2" type="checkbox" name="odState" id="orderProgressStatusCheckbox6" value="5">
              <label class="align-middle mb-0">교환</label>
            </span>
            <span>
              <input class="align-middle ml-2" type="checkbox" name="odState" id="orderProgressStatusCheckbox7" value="6">
              <label class="align-middle mb-0">반품</label>
            </span>
          </td>
        </tr>
        <tr>
          <th class="align-middle">주문 상태</th>
          <td colspan="2">
            <span>
              <input class="align-middle" type="checkbox" name="oState" id="orderProgressStatusCheckbox1" value="전체">
              <label class="align-middle mb-0">전체</label>
            </span>
            <span>
              <input class="align-middle ml-2" type="checkbox" name="oState" id="orderProgressStatusCheckbox2" value="입금대기">
              <label class="align-middle mb-0">입금 대기</label>
            </span>
            <span>
              <input class="align-middle ml-2" type="checkbox" name="oState" id="orderProgressStatusCheckbox3" value="주문완료">
              <label class="align-middle mb-0">주문 완료</label>
            </span>
            <span>
              <input class="align-middle ml-2" type="checkbox" name="oState" id="orderProgressStatusCheckbox4" value="주문처리중">
              <label class="align-middle mb-0">주문 처리중</label>
            </span>
            <span>
              <input class="align-middle ml-2" type="checkbox" name="oState" id="orderProgressStatusCheckbox5" value="주문확정">
              <label class="align-middle mb-0">주문 확정</label>
            </span>
            <span>
              <input class="align-middle ml-2" type="checkbox" name="oState" id="orderProgressStatusCheckbox6" value="주문취소">
              <label class="align-middle mb-0">주문 취소</label>
            </span>
                        <span>
              <input class="align-middle ml-2" type="checkbox" name="oState" id="orderProgressStatusCheckbox7" value="CS처리중">
              <label class="align-middle mb-0">CS 처리중</label>
            </span>
            
          </td>
        </tr>
        <tr>
          <td colspan="3" style="text-align: right">
            <a type="button" class="btn btn-primary" onclick="javascript:goSearch(1)">검색</a>
          </td>
        </tr>
      </table>
    </div>

    <!-- Order List Table -->
    <h4>
      <b>주문 목록</b>
    </h4>
    <div id="orderTable">
	    <table class="table table-bordered table-sm">
	      <thead class="text-center">
	        <tr>
	          <th scope="col">주문일자</th>
	          <th scope="col">주문번호</th>
	          <th scope="col">주문자 ID</th>
	          <th scope="col">결제 금액</th>
	          <th scope="col">결제 수단</th>
	          <th scope="col">주문상태</th>
	          <th scope="col">전체</th>
	          <th scope="col">출고대기</th>
	          <th scope="col">배송준비</th>
	          <th scope="col">배송중</th>
	          <th scope="col">배송완료</th>
	          <th scope="col">교환</th>
	          <th scope="col">반품</th>
	        </tr>
	      </thead>
	      <tbody class="text-center">
	        <tr th:each="orderInfo : ${orderList}">
	          <td>[[${#dates.format(orderInfo.orderDate, 'yyyy-MM-dd')}]]</td>
	          <td><a  th:href="@{orderDetail(oid=${orderInfo.orderId})}">[[${orderInfo.orderId}]]</a></td>
	          <td>[[${orderInfo.memberId}]]</td>
	          <td>[[${orderInfo.totalPrice}]]</td>
	          <td>[[${orderInfo.payType}]]</td>
	          <td>[[${orderInfo.state}]]</td>
	          <td>[[${orderInfo.totalProduct}]]</td>
	          <td>[[${orderInfo.state1}]]</td>
	          <td>[[${orderInfo.state2}]]</td>
	          <td>[[${orderInfo.state3}]]</td>
	          <td>[[${orderInfo.state4}]]</td>
	          <td>[[${orderInfo.state5}]]</td>
	          <td>[[${orderInfo.state6}]]</td>
	        </tr>
	      </tbody>
	    </table>
	    <!-- Pagination -->
		<nav class="d-flex text-center">
		  <ul class="pagination">
		  
		  
		    <li class="page-item">
		      <a class="page-link" href="/order/orderList?pageNo=1" aria-label="Previous">
		        <span aria-hidden="true">&laquo;</span>
		        <span class="sr-only">First</span>
		      </a>
		    </li>
		    
		    
		    <li class="page-item" th:if="${pager.groupNo>1}">
		      <a class="page-link"  th:href="@{orderList(pageNo=${pager.startPageNo-1})}"  aria-label="Previous">
		        <span aria-hidden="true">이전</span>
		        <span class="sr-only">이전</span>
		      </a>
		    </li>
		    
		    <th:block th:each="i : ${#numbers.sequence(pager.startPageNo, pager.endPageNo)}">
		    	<li class="page-item"><a class="page-link" th:href="@{orderList(pageNo=${i})}">[[${i}]]</a></li>
		    </th:block>
		    
		    <li class="page-item" th:if="${pager.groupNo<pager.totalGroupNo}" >
		      <a class="page-link" th:href="@{orderList(pageNo=${pager.endPageNo+1})}" aria-label="Previous">
		        <span aria-hidden="true">다음</span>
		        <span class="sr-only">다음</span>
		      </a>
		    </li>
		    
		    
		    <li class="page-item">
		      <a class="page-link" th:href="@{orderList(pageNo=${pager.totalPageNo})}" aria-label="Next">
		        <span aria-hidden="true">&raquo;</span>
		        <span class="sr-only">Last</span>
		      </a>
		    </li>
		  </ul>
		</nav>
    </div>
	
	

  </th:block>
</th:block>

</html>